/* import files only */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900');
@-webkit-keyframes fadein {
    from { opacity: 0.3; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0.3; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0.3; }
    to { opacity: 1; }
}
/* 1. Basic */
/* 2. Form */
/* 3. Header */
	/* 3.1. Logo */
	/* 3.2. Menu */
/* 4. Body Section */
/* 5. Miscllenious Pages Section */
	/* 5.1. Home page*/
	/* 5.2. About page*/	
	/* 5.3. Contact-us page*/
/* 6. Footer */
	/* 6.1. Copyright */
/* 7. Media Queries */


/* 1. Basic */
body{
	margin: 0;
	font-family: Montserrat;
	line-height: 1.5;
	font-size: 15px;
	background: #fff;
}
/*advanced-booking-engine cls-active*/

.advanced-booking-engine {
  transform-origin: top;
  /*transform: scaleY(0);*/
  transition: all 1s ease-in-out;
  display: block !important;
  max-height: 0;
  overflow: hidden;
}
.advanced-booking-engine .filter-grp .pure-radiobutton {
  transition: all 1s ease-in-out;
  transform: translate(1500px);
}
.advanced-booking-engine .filter-grp .pure-radiobutton:nth-child(1) {
  transition-delay: 0.35s;
}
.advanced-booking-engine .filter-grp .pure-radiobutton:nth-child(2) {
  transition-delay: 0.6s;
}
.advanced-booking-engine .filter-grp .pure-radiobutton:nth-child(3) {
  transition-delay: 0.85s;
}
.advanced-booking-engine .filter-grp .pure-radiobutton:nth-child(4) {
  transition-delay: 1.1s;
}
.advanced-booking-engine .filter-grp .pure-radiobutton:nth-child(5) {
  transition-delay: 1.35s;
}
.advanced-booking-engine .filter-grp .pure-radiobutton:nth-child(6) {
  transition-delay: 1.6s;
}

.advanced-booking-engine.cls-active {
  /*transform: scaleY(1);*/
  max-height: 1500px;
}
.advanced-booking-engine.cls-active .filter-grp .pure-radiobutton {
  transform: translate(0);
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: rgba(15, 22, 38, 1);
}

::selection {
    color: #fff; 
    background: rgba(15, 22, 38, 1);
}
.center{text-align:center}.right{text-align:right}
.red{color:red}.blue{color:red}.white{color:white}.brown{color:brown}.green{color:green}
img{width: 100%;}.img{width: 100%;}
a{
	text-decoration: none;
	color: #ee4e0c;
	transition: 0.4s ease all;
	-webkit-transition: 0.4s ease all;
	-moz-transition: 0.4s ease all;
}
a:hover{
	color: #ee4e0c;
	text-decoration: none;
}
p{
	margin: 0 0 10px;
}
b {
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6{
	margin: 10px 0 15px;	
    font-family: inherit;
    line-height: 1.6;
	font-weight: normal;
}
a.btn {
    padding: 13px 35px;
    background: #0f1626;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 20px 0 0;
    border-radius: 0;
}

/* 2. Form */
form{
	display: block;
	margin: 0 0 20px;
}
form > input, 
form > input[type="text"], 
form > textarea {
    display: block;
    margin: 10px 0 10px;
    width: 100%;
    padding: 6px 10px;
    text-align: left;
    font-family: inherit;
    line-height: inherit;
}
form > input:hover, 
form > input[type="text"]:hover, 
form > textarea:hover{
	outline: none;
}
form > input:focus, 
form > input[type="text"]:focus, 
form > textarea:focus{
	outline: none;
}

input[type=range]{
    -webkit-appearance: none;
	margin-top: 10px;
    margin-bottom: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 3px;
    background: #f5f5f5;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;    
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #0f1626;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* Booking Place */
body.search-page-body-class {
    margin: 0;
}

a.booking-tgl {
    position: fixed;
    top: 50%;
    right: -50px;
    background: #ee4e0c;
    padding: 10px 40px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    border: 2px solid;
    font-weight: 500;
    border-bottom: 0;
    transform: rotate(-90deg) translateY(50%);
    -moz-transform: rotate(-90deg) translateY(50%);
    -webkit-transform: rotate(-90deg) translateY(50%);
    z-index: 9;
    text-decoration: none !important;
}
.book-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(15, 22, 38, 0.7);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
}
.active-booking .book-overlay {
    opacity: 1;
    visibility: visible;
}
.booking-area {
    position: fixed;
    top: 50%;
    right: -1000%;
    left: 0;
    width: 80%;
    padding: 25px 5px 25px 25px;
    margin: 0 auto;
    background: #f5f5f5;
    z-index: 9;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    border-top: 5px solid rgba(15, 22, 38, 1);
    max-height: 80%;
    overflow-y: auto;
}
.booking-area.custom-remove-overlay {
    overflow: visible;
}
.divider {
    display: none;
}
.active-booking .booking-area {
	right: 0;
    left: 0;
}
.booking-form h4 {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.booking-area p {
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    margin: 15px 0;
}
.booking-area a.close-booking-tgl, .booking-area button, .book-btn {
    font-size: 13px;
    padding: 10px 35px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0px;
    text-decoration: none !important;
    display: inline-block;
    background: rgba(15, 22, 38, 1);
    text-transform: uppercase;
    margin: 0px 0 0px;
    border: 0;
}
.booking-form form {
    margin: 0;
}
.booking-form .inline-block {
    width: 24.5%;
    vertical-align: top;
    margin-right: 0%;
    display: inline-block;
}

.booking-form input {
    padding-left: 40px !important;
}

.booking-form .inline-block img {
    position: absolute;
    bottom: 10px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    font-size: 0;
    left: 5px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
}
.booking-form input + ul + img + img {
    opacity: 0;
}
.booking-form input:focus + ul + img {
    opacity: 0;
}
.booking-form input:focus + ul + img + img{
    opacity: 1;
}
.booking-form .inline-block + ul + img + img {
    opacity: 0;
}
.booking-form input + img + img {
    opacity: 0;
}
.booking-form input:focus + img {
    opacity: 0;
}
.booking-form input:focus + img + img{
    opacity: 1;
}
.booking-form .inline-block + img + img {
    opacity: 0;
}

.inlable-wrap {
    position: relative;
    margin-bottom: 15px;
}
.inlable-wrap label {
    font-size: 13px;
    color: rgba(15, 22, 38, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
}
.booking-form input, .booking-form select {
    display: block;
    border: 0;
    padding: 10px 12px;
    font-size: 15px;
    width: 100%;
    background: rgba(15, 22, 38, 0.15);
    border-bottom: 3px solid rgba(15, 22, 38, 1);
    color: rgba(15, 22, 38, 1);
    outline: 0;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}
.booking-form input:focus {
    border-bottom: 3px solid #ee4e0c;    
}
.booking-form select {
	background-image: url('../img/arrow_drop_down.png');
	background-size: 24px 25px;
    background-position: center right;
    background-repeat: no-repeat;
}
.booking-form select option {
    background-color: rgba(15, 22, 38, 1);
    font-weight: 300;
    color: #fff;
    font-size: 15px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  vertical-align: middle;
  top: 2px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(15, 22, 38, 1);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
span.multicity-box {
    display: block;
    width: 100%;
}
.for-multicity {
    background: rgba(15, 22, 38, 0.1);
    margin-right: 18px;
    padding: 10px 0px 0px 15px;
    margin-bottom: 10px;
    position: relative;
    /*display: none;*/
    margin-top: 0;
    padding-bottom: 10px;
}
.for-multicity:last-child {
    padding-bottom: 40px;
}
.for-multicity a.add, .for-multicity a.minus {
    position: absolute;
    right: 0;
    top: initial;
    display: inline-block;
    padding: 9px 12px 6px;
    background: rgba(15, 22, 38, 1);
    color: #fff;
    bottom: 0;
}
.for-multicity a.minus.more-city {
    right: 40px;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.booking-area::-webkit-scrollbar-thumb {
    background-color: rgba(15, 22, 38, 0.5);
}
.booking-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.booking-area::-webkit-scrollbar {
    width: 5px;
}
span.Advanced-filter-label {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 0;
	position: relative;
	top: 0px;
}
ul.ng-isolate-scope {
    padding: 0 0 0;
    margin: 0;
    border: 0;
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

ul.ng-isolate-scope::-webkit-scrollbar-thumb {
    background-color: #ee4e0c;
}
ul.ng-isolate-scope::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
ul.ng-isolate-scope::-webkit-scrollbar {
    width: 5px;
}

ul.ng-isolate-scope li a {
    background: rgba(15, 22, 38, 1);
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
    border: 0;
    letter-spacing: 1px;
}
/* datepicker */
.dtp > .dtp-content > .dtp-date-view > header.dtp-header, 
.dtp .dtp-actual-meridien a.selected, .dtp table.dtp-picker-days tr > td > a.selected{
	background: rgba(15, 22, 38, 1) !important;
}
.dtp div.dtp-date, .dtp div.dtp-time{
	background: rgb(28, 42, 74) !important;
    padding: 15px;
    font-size: 10px;
}
.dtp .p10 > a, text#th-4 {
    color: #fff !important;
}
.dtp .dtp-buttons {
    padding: 0 0 1em;
    text-align: center !important;
}
.dtp .dtp-buttons button {
    background: rgba(15, 22, 38, 1);
    border-radius: 0;
    padding: 10px 20px;
    margin: 0 2px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    float: none;
    outline: 0 !important;
}
a.dtp-select-year-range {
    padding: 5px 0;
}

.inlable-wrap .pure-radiobutton {
    display: inline-block !important;
    margin: 0 20px 5px 0;
}
/* Status */

.pure-radiobutton {
    margin-bottom: 10px;
}
.pure-radiobutton {
    display: inline-block;
    margin-right: 30px;
}
.pure-radiobutton input[type=radio]+label{
	position: relative;
    padding-left: 30px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-top: 4px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}
.pure-radiobutton input[type=radio], .pure-radiobutton input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.pure-radiobutton input[type=radio] + label, , .pure-radiobutton input[type=checkbox] + label {
	position: relative;
	padding-left: 30px;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	padding-top: 4px;
	font-weight: 400;
	text-transform: uppercase;
}
.pure-checkbox input[type=checkbox]+label:before, 
.pure-checkbox input[type=radio]+label:before,
.pure-radiobutton input[type=checkbox]+label:before,
.pure-radiobutton input[type=radio]+label:before {
    box-sizing: content-box;
    content: "";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -9px;
    border-radius: 2px;
    border: 1px solid rgba(15, 22, 38, 1);
    text-align: center;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.pure-checkbox label:before {
    width: 16px!important;
    height: 16px!important;
}
.pure-checkbox input[type=radio]+label:after, 
.pure-checkbox input[type=radio]+label:before, 
.pure-radiobutton input[type=radio]+label:after, 
.pure-radiobutton input[type=radio]+label:before,
.pure-checkbox input[type=checkbox]+label:after, 
.pure-checkbox input[type=checkbox]+label:before, 
.pure-radiobutton input[type=checkbox]+label:after, 
.pure-radiobutton input[type=checkbox]+label:before {
    border-radius: 50%;
}

.pure-checkbox input[type=checkbox]+label:after, 
.pure-checkbox input[type=radio]+label:after, 
.pure-radiobutton input[type=checkbox]+label:after, 
.pure-radiobutton input[type=radio]+label:after {
    box-sizing: content-box;
    content: "";
    background-color: rgba(15, 22, 38, 1);
    position: absolute;
    top: 50%;
    left: 4px;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
}
.pure-checkbox input[type=radio]:checked+label:after, 
.pure-radiobutton input[type=radio]:checked+label:after, 
.pure-checkbox input[type=checkbox]:checked+label:after, 
.pure-radiobutton input[type=checkbox]:checked+label:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.advanced-booking-engine {
    display: none;
}
/* 3. Header */
	body{
		margin-top: 93px;
	}
	header {
	    overflow: hidden;
	}
	div#headroom {
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    overflow: hidden;
	    width: 100%;
	    min-height: 65px;
	    background: #fff;
	    box-shadow: 0px 0px 40px -5px #000;
	    z-index: 9;
	    transition: 0.6s ease all;
	    -moz-transition: 0.6s ease all;
	    -webkit-transition: 0.6s ease all;
	}
	div#headroom.headroom--unpinned {
	    transform: translateY(0%);
	    -moz-transform: translateY(0%);
	    -webkit-transform: translateY(0%);
	    transition: 0.6s ease all;
	    -moz-transition: 0.6s ease all;
	    -webkit-transition: 0.6s ease all;
	}
	/* 3.1. Logo */
	.custom-logo{}
	.logo-wrapper {
	    padding: 15px 30px 0;
	    text-align: center;
	}
	.logo-wrapper img {
	    max-width: 130px;
	}
	ul.header-tag {
		padding: 0 0 10px;
	    list-style: none;
	    margin: 0;
	    line-height: normal;
	}
	ul.header-tag li {
		display: block;
		position: relative;
		color: rgba(15, 22, 38, 1);
		font-weight: 300;
		font-size: 14px;
		overflow: hidden;
	    left: -30px;
	}
	ul.header-tag li span {
	    color: #ee4e0c;
	    font-weight: 500;
	    position: absolute;
	    transform: translateY(1000px);
	    -webkit-transform: translateY(1000px);
	    -moz-transform: translateY(1000px);
	    transition: 1s ease all;
	    -webkit-transition: 1s ease all;
	    -moz-transition: 1 s ease all;
	    opacity: 0;
	    margin-left: 5px;
	    overflow: hidden;
	}
	ul.header-tag li span.active-rotate {
	    transform: translateY(0);
	    -webkit-transform: translateY(0px);
	    -moz-transform: translateY(0px);
	    opacity: 1;
	}
	/* 3.2. Menu */
	a.mobile-tgl {
		position: absolute;
		top: 33px;
		right: 50px;
		color: #ee4e0c;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 18px;
		letter-spacing: 2px;
		text-decoration: none; 
	    cursor: pointer;
	    z-index: 2;
	}	
	a.mobile-tgl span{
		transition: 0.4s ease all;
	    -webkit-transition: 0.4s ease all;
	    -moz-transition: 0.4s ease all;
   	}
	a.mobile-tgl span:last-child {
	    right: 0px;
	    opacity: 0; 
	    position: absolute;
	}
	a.mobile-tgl:before {
	    content: "";
	    width: 30px;
	    background: #ee4e0c;
	    height: 3px;
	    position: absolute;
	    border-radius: 30px;
	    right: -32px;
	    top: 7px;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	    transition: 0.4s ease all;
	    -webkit-transition: 0.4s ease all;
	    -moz-transition: 0.4s ease all;
	}
	a.mobile-tgl:after {
	    content: "";
	    width: 20px;
	    background: #ee4e0c;
	    height: 3px;
	    position: absolute;
	    border-radius: 30px;
	    right: -22px;
	    top: 14px;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	    transition: 0.4s ease all;
	    -webkit-transition: 0.4s ease all;
	    -moz-transition: 0.4s ease all;
	}
	body.active-menu a.mobile-tgl:after {
		transform: rotate(-40deg);
	    -webkit-transform: rotate(-40deg);
	    -moz-transform: rotate(-40deg);
	    top: 12px;
	}
	body.active-menu a.mobile-tgl:before {
	    transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
	    width: 20px;
	    top: 12px;
	    right: -23px;
	}
	body.active-menu a.mobile-tgl span:last-child {
	    opacity: 1;
	    right: 0;
	}
	body.active-menu a.mobile-tgl span:first-child {
	    left: -70px;
	    opacity: 0;
	    position: absolute;
	}
	ul.menu {
    	padding: 0 50px;
	    list-style: none;
	    margin: 0;
	    position: fixed;
	    background: rgba(238, 78, 12, 1);
	    top: 50%;
	    right: -150%;
	    z-index: 9;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    text-align: right;
	    width: 100%;
	    transition: 0.4s ease all;
	    -webkit-transition: 0.4s ease all;
	    -moz-transition: 0.4s ease all;
	}
	ul.menu > li {
	    display: inline-block;
	    vertical-align: top;
	    padding: 28px 20px;
	}
	ul.menu > li > a {
	    padding: 12px 0px;
	    font-size: 18px;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    color: #fff;
	    position: relative;
	    font-weight: 300;
	}
	body.active-menu ul.menu {
	    right: 0;
	}
	body.active-menu .menu-overlay {
		opacity: 1;
	    visibility: visible;
	}
	.menu-overlay {
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    background: rgba(15, 22, 38, 0.7);
	    z-index: 2;
	    opacity: 0;
	    visibility: hidden;
	    transition: 0.4s ease all;
	    -webkit-transition: 0.4s ease all;
	    -moz-transition: 0.4s ease all;
	}
	ul.menu > li > a:hover:after, ul.menu > li > a.active:after {
		width: 100%;
	}
	ul.menu > li > a:after {
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 2px;
	    background: #fff;
	    bottom: 3px;
	    transition: 0.4s ease all;
	    -webkit-transition: 0.4s ease all;
	    -moz-transition: 0.4s ease all;
	    left: 0;
	}
	/* 3.3 Video Section */
	.homepage-hero-module {
	    border-right: none;
	    border-left: none;
	    position: relative;
	}
	.no-video .video-container video,
	.touch .video-container video {
	    display: none;
	}
	.no-video .video-container .poster,
	.touch .video-container .poster {
	    display: block !important;
	}
	.video-container {
	    position: relative;
	    bottom: 0%;
	    left: 0%;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	    background: #000;
	}
	.video-container .poster img {
		width: 100% !important;
		top: 0;
		position: absolute;
		right: 0;
		left: 0;
		margin: 0 !important;
		height: initial !important;
	}
	.video-container .filter {
	    z-index: 100;
	    position: absolute;
	    background: rgba(0, 0, 0, 0.4);
	    width: 100%;
	}
	.video-container video {
	    position: absolute;
	    z-index: 0;
	    bottom: 0;
	}
	.video-container video.fillWidth {
	    width: 100%;
	}
	.video-overlay {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    height: 100%;
	    width: 100%;
	    background: rgba(15, 22, 38, 0.7);
	}
	.banner-content-wrapper {
	    height: 100%;
	    background: #ee4e0c;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    width: 500px;
	    left: 50px;
	    padding: 25px 25px 0;
	}
	.banner-content {
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    text-align: center;
		width: 100%;
		left: 0;
		margin-top: -50px;
	}
	.banner-content img {
	    max-width: 150px;
	    margin: -50px auto -10px;
	}
	.banner-content h1.tag {
	    font-size: 12px;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    color: #0f1626;
	    font-weight: 500;
	    margin: 0 0;
	}
	.banner-content h1.tag + h1 {
		font-size: 40px;
		font-weight: 100;
		margin-top: 0;
		color: #f5f5f5;
		text-align: left;
		margin-bottom: 0;
	    padding: 0 30px 0;	
	}
	.banner-content p {
	    text-align: justify;
	    padding: 0 30px 0;
	    font-size: 16px;
	    font-weight: 300;
	    color: #0f1626;
	}
	.banner-content p b {
	    font-weight: 500;
	}
	a.scroll-down {
		position: relative;
	    top: 70px;
	}
	a.scroll-down img {
	    max-width: 60px;
	    margin: 0;	    
	}
/* 4. Body Section */
	section#welcome-box {
	    padding: 50px 0;
    	background: #fff;
    	position: relative;
	}
	section#welcome-box h2.tag {
	    text-align: center;
	}
	section#welcome-box h3 {
	    text-align: center;
	    margin: 0px 0 60px;
	    font-size: 40px;
	    text-transform: uppercase;
	    font-weight: 700;
	    color: #0f1626;
        position: relative;
	}
	section#welcome-box h3:after {
	    content: '';
	    position: absolute;
	    width: 100px;
	    height: 3px;
	    background: #0f1626;
	    bottom: -5px;
	    margin: 0 auto;
	    right: 0;
	    left: 0;
	}
	.welcome {
	    height: 250px;
	    position: relative;
	    text-align: center;
	    background-size: cover;
	    background-position: center center;
	    transition: 0.3s ease all;
	    -moz-transition: 0.3s ease all;
	    -webkit-transition: 0.3s ease all;
        margin-bottom: 30px;
        overflow: hidden;
	}
	.welcome:before {
	    content: '';
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    background: -webkit-linear-gradient(top, rgba(15,15,18,0) 0%,rgba(20,20,20,0.95) 100%);
	    background: linear-gradient(to bottom, rgba(15,15,18,0) 0%,rgba(20,20,20,0.95) 100%);
	    position: absolute;
	}
	.welcome-content {
	    position: absolute;
	    padding: 0 15px;
	    background: rgba(15, 22, 38, 0.5);
	    bottom: -100%;
	    transition: 0.3s ease all;
	    -moz-transition: 0.3s ease all;
	    -webkit-transition: 0.3s ease all;
	}
	.welcome:hover .welcome-content {
	    bottom: 0;
	    transition: 0.3s ease all;
	    -moz-transition: 0.3s ease all;
	    -webkit-transition: 0.3s ease all;
		right: 0;
		left: 0;
	}
	.welcome-content h4 {
	    font-size: 20px;
	    color: #ee4e0c;
	    text-transform: uppercase;
	    margin: 15px 0 20px;
	    text-align: left;
	    font-weight: 300;
	}
	.welcome p {
	    position: relative;
	    bottom: 15px;
	    color: #fff;
	    text-align: justify;
	    width: 100%;
	    font-size: 15px;
	    font-weight: 300;
	    margin: 0;
	}
/* 5. Miscllenious Pages Section */
	/* 5.1. Home page*/
	/* 5.2. About page*/
	section#about{
		padding: 0;
		margin-top: -92px;
	}
	section#about .row > div {
	    padding: 0;
	}
	.custom-about-content {
	    padding: 20% 100px;
	    background: #fff;
	}
	h2.tag {
    	color: #ee4e0c;
	    font-size: 12px !important;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    font-weight: 400;
	    position: relative;
	    margin: 0 !important;
	}
	h2.tag span.head-line {
	    width: 15px;
	    display: inline-block;
	    height: 2px;
	    background: #ee4e0c;
	    margin: 0 10px 0 6px;
	    vertical-align: middle;
	    position: relative;
	    top: -1.2px;
	}
	.custom-about-content h3 {
	    margin: 5px 0 30px;
	    font-size: 30px;
	    text-transform: uppercase;
	    font-weight: 400;
	    letter-spacing: 3px;
	    color: #0f1626;
	    position: relative;
	}
	.custom-about-content h3:after {
	    content: "";
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 60px;
	    height: 2px;
	    background: #0f1626;
	}
	.custom-about-content p {
	    font-size: 15px;
	    text-align: justify;
	    font-weight: 300;
	    color: #000;
	    margin-top: -10px;
	}
	.custom-about-image{
		position: relative;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.custom-about-image img{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	    box-shadow: 0 40px 120px -20px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 0 40px 120px -20px rgba(0,0,0,0.3);
		height: 100%;
		width: 100%;
	}
	/* Why Us */
	section#why-us-section {
	    padding: 50px 0;
	    background: #fff;
	}
	.why-us-content {
	    padding: 50px 0 0;
	}
	.why-us-content h3 {
	    font-size: 30px;
	    font-weight: 300;
	    margin-top: 0;
	}
	.process-in-steps {
	    padding-left: 20px;
	}
	.process-in-steps h5 {
	    font-size: 24px;
	    font-weight: 300;
	    margin-bottom: 10px;
	    position: relative;
	    color: rgba(15, 22, 38, 1);
	    margin-top: 20px;
	}
	.process-in-steps h5:before {
		content: '';
		position: absolute;
		top: 0;
		left: -10px;
		width: 100%;
		height: 100%;
		background: rgba(238, 78, 12, 0.15);
		z-index: -1;
	}
	.process-in-steps p {
	    font-weight: 300;
	    text-align: justify;
	    color: #000;
	}
	/* how jetsmart works */
	#how-we-work-section, .work-process-content {
	    min-height: 450px;
	    position: relative;
	}
	#how-we-work-section .container-fluid {
        background: url('http://flybrighton.com/wp-content/uploads/2016/11/Runway-BCAL-Web-CC-LOW.jpg');
		background-size: cover;
		max-height: 450px;
		background-position: right;
	}
	#how-we-work-section > .container-fluid > .row > div {
	    padding: 0;
	}
	.work-process-content {
	    background: rgba(15, 22, 38, 1);
	    padding: 28% 20% 0;
	    color: #fff;
	}
	.work-process-content h3 {
	    text-transform: uppercase;
	    font-weight: 300;
	    letter-spacing: 1px;
	}
	.custom-process-in-steps {
		background: rgba(255, 255, 255, 0.9);
		padding: 35px 15px;
		margin: 55px 0 0;
		-webkit-box-shadow: 0 10px 50px rgba(0,0,0,.35);
		box-shadow: 0 10px 50px rgba(0,0,0,.35);
	}
	.custom-process-in-steps > p {
	    width: 50%;
	    display: inline-block;
	    vertical-align: top;
	    margin-right: -4px;
	    text-align: justify;
	    padding: 0 20px;
	    font-size: 14px;
	    font-weight: 300;
	    color: #000;
	}
	.custom-process-in-steps > p > span {
	    display: block;
	    margin: 0 0 5px;
	    font-size: 18px;
	    font-weight: 400;
	    text-transform: uppercase;
	    color: #ee4e0c;
	}
	/* Aircrafts */
	section#aircrafts {
		text-align: center;
		background: #0f1626; 
		padding: 50px 0;
	    background: #0f1626;
		box-shadow: 0 40px 120px -20px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 40px 120px -20px rgba(0,0,0,0.3);
		position: relative;
	}
	section#aircrafts:before {
	    content: '';
	    background-image: url('../img/airport.jpg');
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 0;
	    opacity: 0.06;
	    background-size: cover;
	    background-attachment: fixed;
	    filter: grayscale(100%);
	}
	.custom-aircrafts-type {
	    text-align: left;
	}
	.custom-aircrafts-type h3 {
	    margin: 10px 0 30px;
	    font-size: 30px;
	    text-transform: uppercase;
	    font-weight: 400;
	    letter-spacing: 3px;
	    color: #fff;
	    position: relative;
	}
	.custom-aircrafts-type h3:after {
	    content: "";
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 60px;
	    height: 2px;
	    background: #fff;
	}
	.custom-aircrafts-type p {
	    color: #fff;
	    font-weight: 300;
	    font-size: 16px;
	}
	.custom-aircrafts-type > div {
		width: 100%;
		display: block;
		margin-right: 0;
		margin-top: 20px;
	}
	.type-of-jet {
	    padding: 20px 0 0;
	}
	.type-of-jet h2 {
	    font-size: 25px;
	    color: #fff;
	    font-weight: 300;
	    margin-top: 0;
	}
	.type-of-jet p {
		font-size: 16px;
		font-weight: 300;
		text-align: justify;
	}
	.type-of-jet p b {
	    color: #ee4e0c;
	    font-weight: 500;
	}
	.custom-aircrafts-type .owl-theme .owl-dots .owl-dot {
	    display: block;
	    margin: 0px 0 0;
        width: 50px;
	}
	.custom-aircrafts-type .owl-theme .owl-dots .owl-dot span {
	    width: 35px;
	    height: 2px;
	    margin: 5px 1px 20px;
	    background: #fff;
	    display: block;
	    -webkit-backface-visibility: visible;
	    transition: all .2s ease;
	    border-radius: 0;
	}
	.custom-aircrafts-type .owl-dots {
	    position: absolute;
	    top: -10px;
	    right: -100px;
	}
	.custom-aircrafts-type .owl-theme .owl-dots .owl-dot.active span, .custom-aircrafts-type .owl-theme .owl-dots .owl-dot:hover span {
	    background: #ee4e0c;
	    width: 50px;
	}
	/* Process */
	section#process {
	    padding: 80px 0 0;
	    background: #fff;
	    position: relative;
	}
	section#process:before {
	    content: '';
	    background-image: url('../img/world-map.png');
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 0;
	    opacity: 0.18;
	    background-size: cover;
	    background-attachment: fixed;
	    filter: grayscale(100%);
	}
	.custom-work-process-heading h3{
		margin: 5px 0 30px;
	    font-size: 30px;
	    text-transform: uppercase;
	    font-weight: 400;
	    letter-spacing: 3px;
	    color: #0f1626;
	    position: relative;
	}
	.custom-work-process-heading p {
	    text-align: justify;
	}
	.custom-work-process-heading h3:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 60px;
		height: 2px;
		background: #0f1626;
	}
	.custom-work-process-heading img {
	    max-width: 900px;
	    margin-top: -50px;
	}
	ul.step-by-step-process {
	    padding: 0;
	    list-style: none;
	    margin: 50px 0 0;
		border-radius: .28571429rem;
		border: 1px solid rgba(34,36,38,.15);
	}
	ul.step-by-step-process li {
		width: 25%;
		display: inline-block;
		margin-right: -4px;
		vertical-align: top;
		padding: 20px 15px 20px 65px;
		position: relative;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		border-right: 1px solid rgba(34,36,38,.15);
	}
	ul.step-by-step-process li:after {
	    position: absolute;
	    z-index: 0;
	    content: '';
	    top: 50%;
	    right: 0;
	    border: medium none;
	    background-color: #fff;
	    width: 16px;
	    height: 16px;
	    border-style: solid;
	    border-color: rgba(34,36,38,.15);
	    border-width: 0 1px 1px 0;
	    -webkit-transition: background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
	    transition: background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
	    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	    transform: translateY(-50%) translateX(50%) rotate(-45deg);
	}
	ul.step-by-step-process li:last-child:after {
		content: none;
	}
	ul.step-by-step-process li:last-child {
	    background: #ee4e0c;
		color: #fff;
	}	
	ul.step-by-step-process li i {
	    font-size: 25px;
	    position: absolute;
	    left: 25px;
	    top: 28px;
	}
	ul.step-by-step-process li span {
	    display: block;
	    font-size: 13px;
	    font-weight: 300;
	    text-transform: capitalize;
	}
	/* 5.3. Quote page*/
	section#testimonial {
		padding: 80px 0;
		box-shadow: 0 20px 80px -20px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 20px 80px -20px rgba(0,0,0,0.3);
		position: relative;
	    background: #0f1626;
	}
	section#testimonial:before {
	    content: '';
	    background-image: url('../img/newspaper-banner.jpg');
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 0;
	    opacity: 0.06;
	    background-size: cover;
	    background-attachment: fixed;
	    filter: grayscale(100%);
	}
	.testimonial-wrapper {
	    text-align: center;
	}
	.testimonial-wrapper h3 {
	    text-align: center;
	    margin: 0px 0 40px;
	    font-size: 40px;
	    text-transform: uppercase;
	    font-weight: 700;
	    color: #fff;
	    position: relative;
	}
	.testimonial-wrapper h3:after {
	    content: '';
	    position: absolute;
	    width: 100px;
	    height: 3px;
	    background: #fff;
	    bottom: -5px;
	    margin: 0 auto;
	    right: 0;
	    left: 0;
	}
	.testimonial-wrapper p {
        text-align: center;
        margin: 0;
	}
	.testimonial-wrapper p img {
	    width: auto;
	    max-width: 150px;
		margin: 0 60px;
		-webkit-transition: -webkit-box-shadow .15s ease-out;
		transition: -webkit-box-shadow .15s ease-out;
		transition: box-shadow .15s ease-out;
		transition: box-shadow .15s ease-out,-webkit-box-shadow .15s ease-out;
	}
	.testimonial-wrapper p img:hover {
	    -webkit-box-shadow: 0 10px 50px rgba(0,0,0,.35);
	    box-shadow: 0 10px 50px rgba(0,0,0,.35);
	}
	/* Our Team */
	.member-toggle ul {
	    padding: 0;
	    list-style: none;
	    margin: 0;
	}
	.member-toggle ul li {
	    background: #0f1626;
	    margin: 0 0 5px;
	    padding: 10px;
	    text-align: center;
	    color: #ddd;
	    cursor: pointer;
	    text-transform: uppercase;
	    font-size: 12px;
	    letter-spacing: 1px;
		transition: 0.4s ease all;
		-webkit-transition: 0.4s ease all;
		-moz-transition: 0.4s ease all;
	}
	.member-toggle ul li:hover, .member-toggle ul li.active {
	    background: #ee4e0c;
	    color: #0f1626;
	}
	section#our-team {
	    background-color: #f5f5f5;
	    padding: 80px 0;
	}

	.team-member > img, .team-member > .member-panel, .inverstor-member > img, .inverstor-member > .member-panel {
	    display: inline-block;
	    vertical-align: top;
	    width: calc(100% - 200px);
	    margin-right: -4px;
	    max-height: 210px;
	    overflow-x: hidden;
	    overflow-y: auto;
	}
	.team-member.merge-content {
	    padding: 25px 15px;
	}
	.team-member.merge-content p {
	    color: #f5f5f5;
	    font-weight: 300;
	    text-align: justify;
	    margin: 0;
	}
	.team-member > img, .inverstor-member > img{
		width: 200px;
    	height: 210px;
	}
	.team-member, .inverstor-member {
	    background: #0f1626;
        margin: 0 0 20px;
        position: relative;	
	}
	.inverstor-member > .member-panel {
	    min-height: initial;
	    position: static;
	}
	.member-panel::-webkit-scrollbar {
	    width: 8px;
	}
	.member-panel::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	.member-panel::-webkit-scrollbar-thumb {
	  background-color: #ee4e0c;
	}
	.member-panel {
	    padding: 25px 15px;
	}
	.member-panel h4 {
	    font-size: 20px;
	    text-transform: uppercase;
	    color: #fff;
	    font-weight: 300;
	    margin: 0;
	}
	.member-panel label.member-profile {
		font-size: 12px;
		font-weight: 300;
		color: #ee4e0c;
		text-transform: uppercase;
		display: block;
	}
	.member-panel p {
	    color: #f5f5f5;
	    font-weight: 300;
	    margin-top: 10px;
	    border-top: 1px solid #fff;
	    padding-top: 15px;
	    font-size: 14px;
        margin-bottom: 0px;
	}
	.member-panel p + p {
 	   border: 0;
	    margin-top: -10px;
	}
	.member-panel ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    background: #ee4e0c;
	}
	.member-panel ul li {
	    display: inline-block;
	}
	.member-panel ul li a {
	    padding: 8px 13px;
	    display: block;
	    color: #0f1626;
	    font-weight: 100;
	}
	/* Faqs */
	.homepage-hero-module.set-max-height {
		max-height: 600px;
		background-position: bottom center;
		background-size: cover;	
		background-attachment: fixed;	
	}
	.homepage-hero-module.set-max-height .video-overlay {
	    background: rgba(15, 22, 38, 0.88);
	}
	.homepage-hero-module.set-max-height .banner-content h1 {
	    font-size: 34px;
		color: #fff;
		font-weight: 100;
		padding: 0 15px;
	}
	section#faqs {
	    padding: 50px 0;
	    background: #f5f5f5;
	}
	.faq {
	    box-shadow: 0 30px 80px -20px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 0 30px 80px -20px rgba(0,0,0,0.3);
		margin: 0px 0 5px;
		padding: 20px 15px;
		border-left: 15px solid rgba(15, 22, 38, 1);
		background: #fff;
	}
	h1.main-heading {
	    margin: 0;
	    font-weight: 300;
	    font-size: 28px;
	    text-transform: capitalize;
        color: #0f1626;
	}
	.faqs-wrapper > div {
	    float: none;
	    display: inline-block;
	    margin-right: -4px;
	    vertical-align: top;
	}
	.faq h1 i {
	    margin-right: 10px;
	}
	.faq h1 {
	    font-size: 16px;
	    text-transform: uppercase;
	    color: #0f1626;
	    margin: 0; 
	}
	.faq p {
	    font-weight: 300;
	    padding: 0px;
	    text-align: justify;
	    font-size: 14px;
	    color: #000;
	    margin: 10px 0 0; 
	}
	/* Core Values */
	#our-value-section, .our-value-links, .our-value-description {
	    min-height: 200px;
	    position: relative;
	}
	section#our-value-section {
	    top: -15px;
	    background: #f5f5f5;
	    margin-bottom: -15px;
	    padding: 80px 0;
	}
	#our-value-section > .container-fluid > .row > div {
	    padding: 0;
	}
	.our-value-links ul {
	    padding: 0;
	    list-style: none;
	    margin: 0;
	    text-align: left;
	}
	.our-value-links ul li {
		margin-bottom: 0;
		display: inline-block;
		margin-right: -4px;
		opacity: 0.8;
	}
	.our-value-links ul li.tab-link.current {
	    opacity: 1;
	    transition: 0.3s ease all;
	    -webkit-transition: 0.3s ease all;
	    -moz-transition: 0.3s ease all;
	}
	.our-value-links ul li a {
		font-size: 18px;
		padding: 15px 20px;
		font-weight: 300;
		color: #fff;
		letter-spacing: 0px;
		text-decoration: none !important;
		display: block;
		background: rgba(15, 22, 38, 1);
	}
	.our-value-description {
	    background: #ee4e0c;
		box-shadow: 0 40px 120px -20px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 40px 120px -20px rgba(0,0,0,0.3);
	}
	.custom-tab-content {
		transform: scale(0) translateY(-50%);
		-moz-transform: scale(0) translateY(-50%);
		-webkit-transform: scale(0) translateY(-50%);
		transition: 0.3s ease all;
		-webkit-transition: 0.3s ease all;
		-moz-transition: 0.3s ease all;
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		width: 90%;
		margin: 0 auto;
	}
	.custom-tab-content.current {
		transform: scale(1) translateY(-50%);
		-moz-transform: scale(1) translateY(-50%);
		-webkit-transform: scale(1) translateY(-50%);
		transition: 0.3s ease all;
		-webkit-transition: 0.3s ease all;
		-moz-transition: 0.3s ease all;
	}
	.our-value h2 {
		margin-top: 0;
		font-weight: 400;
		color: rgba(15, 22, 38, 1);
		margin-bottom: 15px;
		display: inline-block;
		border-bottom: 2px solid;
		font-size: 25px;
	}
	.our-value p {
	    color: #f5f5f5;
	    font-weight: 300;
	    font-size: 16px;
	    text-align: justify;
	}
	/* Legal */
	#legal {
	    padding: 30px 0;
	    background: #f5f5f5;
		box-shadow: 0 20px 80px -20px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 20px 80px -20px rgba(0,0,0,0.3);
	}
	.legal-links {
	    padding: 30px 0;
	    position: relative;
	}
	.legal-links:after {
	    content: '';
	    height: 100%;
	    width: 1px;
	    position: absolute;
	    background: rgba(15, 22, 38, 0.5);
	    top: 30px;
	    right: -1px;
	    border-radius: 50%;
	}
	.legal-links ul {
	    padding: 0;
	    list-style: none;
	    margin: 0;
	}
	.legal-links ul li {
	    margin-bottom: 10px;
	}
	.legal-links ul li a {
	    font-size: 22px;
	    color: rgba(15, 22, 38, 1);
	    font-weight: 300;
	    letter-spacing: 1px;
	}
	.legal-links ul li a:hover, .legal-links ul li a.active {
	    color: #ee4e0c;
	}
	.legal-content-wrapper {
	    padding: 30px 0;
	}
	.legal-content-wrapper h1 {
	    margin-top: 0;
	    line-height: normal;
	    font-weight: 300;
	    color: rgba(15, 22, 38, 1);
	    text-transform: uppercase;
	}
	.legal-content-wrapper h4 {
	    margin-top: 25px;
	    margin-bottom: 3px;
	    font-size: 22px;
	    text-transform: capitalize;
	    font-weight: 400;
	    color: rgba(15, 22, 38, 1);
	}
	.legal-content-wrapper p {
	    font-size: 16px;
	    font-weight: 300;
	    line-height: 25px;
	    text-align: justify;
	    color: #000;
	}
	ol.p1 li {
	    font-size: 16px;
	    font-weight: 300;
	    line-height: 25px;
	    text-align: justify;
	    color: #000;
	    margin-bottom: 10px;
	}
	/* Contact Us */
	section#contact-us {
	    padding: 100px 0 100px;
	    background: #ee4e0c;
	    text-align: center;
	}
	section#contact-us h4 {
	    font-size: 35px;
	    font-weight: 100;
	    margin-bottom: 0;
	    color: #fff;
	}
	/* Search */
	#search-result-wrapper .logo-wrapper {
        position: fixed;
        background: rgb(255, 255, 255);
        text-align: left;
        z-index: 9;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
	}
	#search-result-wrapper ul.header-tag li {
    	left: 0;
    	padding: 0 0 0 22px;
	}
	#search-result-wrapper {
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    background: rgba(15, 22, 38, 0.95);
	    background-image: url('../img/search-banner.jpg');
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: bottom center;
	    background-attachment: fixed;
        z-index: 1;
	    overflow: auto;
	    height: 100%;
        padding-top: 120px;

	}
	#search-result-wrapper:before {
	    content: '';
	    /*background-color: rgba(15, 22, 38, 0.8);
	    position: fixed;
	    top: 0;
	    right: 15px;
	    left: 0;
	    bottom: 0;
        width: 100%;*/
	}
	.info-filter-btn a {
	    width: 60px;
	    display: inline-block;
	    background: #ee4e0c;
	    padding: 8px 0;
	    color: #fff;
	    text-align: center;
	    outline: 0;
	}
	.info-filter-btn {
	    position: fixed;
	    padding: 15px 0;
	    margin: 0 15px;
	}
	/* Booking Status */
	.booking-status-wrapper {
	    background: #fff;
	    padding: 15px;
	    margin-bottom: 20px;
        margin-top: 18px;
	}
    .booking-status-wrapper > h3 {
        font-size: 28px;
        font-weight: 100;
        margin: 0;
        display: inline-block;
        margin-left: -4px;
        color: #fff;
        background: #ee4e0c;
        padding: 10px 30px;
        margin-top: 0;
        position: relative;
        top: -32px;
        margin-bottom: -15px;
    }
    .booking-status-wrapper > h3:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 20px solid #9c411c;
        border-left: 20px solid transparent;
        border-right: 0 solid transparent;
        right: -20px;
        top: 0px;
        transform: rotateZ(180deg);
        z-index: -1;
    }   
	.from-to-destination, .type-of-flight, .no-of-pessenger, .modify-btn {
    	display: inline-block;
	    width: 25%;
	    margin-right: -4px;
	    vertical-align: top;
	}
	.booking-status .head {
	    font-size: 22px;
	    width: 100%;
	    text-transform: uppercase;
	    color: #274069;
	    letter-spacing: 1px;
	}
	/*.from-to-destination.border-right {
	    padding: 0 !important;
	}*/
	p.custom-badge label {
		font-size: 12px;
        margin: 0;
        line-height: normal;
        background: #274069;
        padding: 5px 10px;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        margin-bottom: 4px;
        letter-spacing: 1px;
        font-weight: 500;
	}
    p.custom-badge label span {
        cursor: pointer;
    }
	.modify-btn a.btn {
		margin-top: 3px;
		margin-bottom: 0px;
		width: 100%;
		padding: 10px 0;
		font-size: 12px;
        background: #274069;
	}
	.booking-status .border-right {
        border-right: 1px solid #274069;
        padding: 0 0 0 15px;
        min-height: 100px;
        width: calc(100%/6);
        margin-left: -4px;
        display: inline-block;
        vertical-align: top;
	}
	.booking-status .border-right:nth-child(6) {
	    border: 0;
	}
	.booking-status p.icon i {
	    font-size: 20px;
	    border: 1px solid #666;
	    padding: 15px 18px;
	    border-radius: 50%;
	    color: #0f1626;
	}
	.booking-status  p.icon {
	    text-align: left;
	    padding: 15px 0 0 20px;	
	}
	.booking-status .details {
	    margin: 0;
	    color: #274069;
	    text-transform: uppercase;
	    font-size: 14px;
	}
	.from-to-destination .comm-class {
	    display: inline-block;
	    margin-right: -4px;
        vertical-align: middle;
	}
	.inlable-wrap .pure-radiobutton label {
		color: #0f1626 !important;
	}
	.inlable-wrap input[type=checkbox]+label:after, 
	.inlable-wrap input[type=checkbox]+label:after {
		top: 46% !important;
	}
	/* Advanced Filter */
	#search-result-wrapper > .container {
	    width: 95%;
	}
    #search-result-wrapper a.mobile-tgl {
        right: 70px;
    }
	.col-xs-12.over-hidden {
	    overflow: hidden;
	    position: relative;
	    margin-top: 10px;	
	}
	.active-filter .filter-wrappper {
	    transform: translateX(0%);
	    -webkit-transform: translateX(0%);
	    -moz-transform: translateX(0%);
	}
	.filter-wrappper {
	    width: 300px;
	    margin-right: -300px;
	    transition: 0.3s ease all;
	    -webkit-transition: 0.3s ease all;
	    -moz-transition: 0.3s ease all;
	    transform: translateX(-150%);
	    -webkit-transform: translateX(-150%);
	    -moz-transform: translateX(-150%);
	    position: fixed;
	    z-index: 9;
	    display: block;
	    margin-bottom: 0;
	    float: left;
	    bottom: 0;
    	height: 100%;
    	background: #ee4e0c;
    	padding: 50px 0;
    	left: 0;
        top: 92px;
	}
	.filter-form {
	    padding: 15px;
        margin-bottom: 15px;
	}
	.filter-grp {
    	margin-bottom: 15px;
	    border-bottom: 1px solid;
	    padding-bottom: 15px;
	}
	.filter-grp:last-child, .inlable-wrap .filter-grp {
	    margin-bottom: 0;
	    padding: 0;
	    border: 0;
	}
	.filter-grp label {
	    margin: 0;
	    text-transform: capitalize;
	    color: #fff;
	    font-weight: 500;
	    font-size: 14px;
	}
	.filter-grp label.right {
	    float: right;
	}
	.filter-grp h5 {
	    margin: 10px 0 10px;
	    font-size: 16px;
	    font-weight: 500;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    color: #0f1626;
	}
	.flights-details h5 + a, .flights-details h5 + a + a {
	    margin-top: 0px;
	}
	.filter-grp .pure-radiobutton {
	    position: relative;
	    display: block;
	    padding: 0 0 0 25px;
	}
	.filter-grp .pure-radiobutton:last-child {
	    margin: 0;
	}
	.filter-grp .pure-radiobutton label {
	    margin: 0;
	    text-transform: capitalize;
	    color: #fff;
	    font-weight: 500;
	    font-size: 14px;
	    padding: 0;
	}
	.pure-checkbox input[type=checkbox]+label:after, 
	.pure-checkbox input[type=checkbox]+label:before, 
	.pure-radiobutton input[type=checkbox]+label:after, 
	.pure-radiobutton input[type=checkbox]+label:before {
	    border-radius: 0;
	}
	.pure-checkbox input[type=checkbox]+label:before, 
	.pure-radiobutton input[type=checkbox]+label:before {
		top: 50%;
	    left: 0;
	    width: 16px;
	    height: 16px;
	}
	.pure-checkbox input[type=checkbox]+label:after, 
	.pure-radiobutton input[type=checkbox]+label:after {
		top: 45%;
	    left: 3px;
	    width: 12px;
	    height: 12px;
	}
	/* Available Flights */
	.available-flights-wrapper {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		transition: 0.6s ease all;
        -webkit-transition: 0.6s ease all;
        -moz-transition: 0.6s ease all;
        margin-left: 0;
        position: relative;
        z-index: 0;
        margin-bottom: 20px;
        max-height: 100px;
        overflow: hidden;
	}
    .available-flights-wrapper.active-flights-wrapper {
        max-height: 400px;
        overflow: visible;
    }
	/*.active-filter .available-flights-wrapper {
    	padding-left: 320px;
    }*/
	.available-flights {
	    background: #fff;
        line-height: 0;
        position: relative;
	}
    .active-details .flights-details-wrapper h4 {
        color: #ee4e0c;
        position: absolute;
        top: 5px;
        left: 15px;
        margin: 0;
        cursor: pointer;
        font-size: 30px;
        letter-spacing: 2px;
    }
	p.close-flights-details {
	    position: absolute;
	    top: 15px;
	    right: 15px;
	    margin: 0;
	    cursor: pointer;
	}
	p.close-flights-details i {
	    font-size: 25px;
	    color: #fff;
	    opacity: 0.8;
	}
	/* Flight Details */
	.flights-details-wrapper {
	    width: 50%;
	    margin-right: -4px;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: -30%;
	    transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
        -moz-transition: 0.3s ease all;
	    background: rgba(15, 22, 38, 0.83);
	    z-index: 2;
	    overflow: hidden;
        padding: 55px 0 0;
        opacity: 0;
	}
	.flight-detail-inner-wrapper {
	    max-height: 190px;
	    overflow: auto;
	}
	.flight-detail-inner-wrapper::-webkit-scrollbar {
	    width: 8px;
	}
	.flight-detail-inner-wrapper::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	.flight-detail-inner-wrapper::-webkit-scrollbar-thumb {
	  background-color: #ee4e0c;
	}
	.flights-details-wrapper .flight-detail-inner {
	    background: rgba(15, 22, 38, 1);
	    padding: 10px 0;
		border-left: 3px solid #ee4e0c;
		margin-bottom: 2px;
		position: relative;
	}
    .flights-details-wrapper .flight-detail-inner.inline-block {
        width: 100%;
        margin-right: 0px;
        vertical-align: top;
        display: inline-block;
        background: rgba(15, 22, 38, 1);
    }
	.flights-details-wrapper span.date {
	    display: block;
	    font-size: 13px;
	    margin-top: 10px;
	    color: #fff;
	    letter-spacing: 1px;
	    font-weight: 400;
	}
	.flights-details-wrapper .flight-detail-inner:last-child {
	    margin-bottom: 0;
	}
	.flights-details-wrapper .icon.comm-class > p {
	    display: block;
	    text-align: center;
	}
	.flights-details-wrapper .icon.comm-class > p.time-duration {
	    font-size: 12px;
	    margin: 15px 0 0;
	}
	.flights-details-wrapper .comm-class {
	    width: 33.333%;
	    margin-right: -4px;
	    display: inline-block;
	    vertical-align: middle;
	    text-align: center;
	}
	.flights-details-wrapper .comm-class img {
		display: inline-block;
		width: 50px;
	}
	.flights-details-wrapper .comm-class p {
	    width: initial;
	    display: inline-block;
	    color: #fff;
	    vertical-align: bottom;
	    font-size: 12px;
	    font-weight: 400;
	    text-transform: uppercase;
	    text-align: left;
	    margin-left: 10px;
	    position: relative;
	}
    .grand-total p.head {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #ee4e0c;
    }
	.flights-details-wrapper .flight-detail-inner:first-child .comm-class:first-child  p.place-code:after, 
	.flights-details-wrapper .flight-detail-inner:last-child .comm-class:last-child p:after {
		content: '\f111';
    	position: absolute;
	    font-family: fontawesome;
	    top: -15px;
	    width: 25px;
	    height: 25px;
	    background: transparent;
	    left: -50px;
	    border-radius: 50%;
	    border: 2px solid #ee4e0c;
	    text-align: center;
	    line-height: 21px;
	    color: #ee4e0c;
	    font-size: 16px;
	    opacity: 1;
	    -webkit-animation: fadein 2s ease-in alternate infinite;
	    -moz-animation: fadein 2s ease-in alternate infinite;
	    animation: fadein 2s ease-in alternate infinite;
	}
	.flights-details-wrapper .comm-class p span {
	    display: block;
	    margin-top: 12px;
	    font-size: 12px;
        font-weight: 400;
	}
	.active-details .flights-details-wrapper {
	    left: 0;
	    opacity: 1;
	}
	a.book-now.btn {
	    position: absolute;
	    z-index: 9;
	    background: #ee4e0c;
	    color: #FFF;
	    bottom: 15px;
	    right: 15px;
	}
	/* Available Flight */
	.flight-fare {
	    position: absolute;
	    z-index: 9;
	    background: #ee4e0c;
	    color: #FFF;
	    padding: 6px 20px;
	    left: -8px;
	    top: 25px;
	}
	.flight-fare h3 {
	    margin: 0;
	    font-size: 25px;
	    letter-spacing: 2px;
	}
    .flight-fare h3 sub {
        bottom: 0px;
        font-size: 30px;
        right: 5px;
        line-height: normal;
        letter-spacing: 0;
    }
    .flight-fare h3 sub a {
        color: #fff;
    }
	.flight-fare:after {
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    border-top: 8px solid #9c411c;
	    border-left: 8px solid transparent;
	    border-right: 0 solid transparent;
	    bottom: -8px;
	    left: 0;
	}
	.flights-image .owl-dots {
 	   display: none;
	}
	.flights-image {
	    width: 50% !important;
	    display: inline-block !important;
	    margin-right: -4px;
	}
	.flights-details {
	    width: 50%;
	    margin-right: 0;
	    display: inline-block;
	    vertical-align: top;
	    padding: 0;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    text-align: center;
	}
    .info-heading-wrapper{
        width: 60%;
    }
    .info-button-wrapper {
        width: 40%;
    }
    .info-heading-wrapper, .info-button-wrapper {
        display: inline-block;
        vertical-align: middle;
        /*width: 50%;*/
        margin-right: -4px;
    }
    .info-heading-wrapper {
        text-align: center;
        padding-left: 15px;
        padding-top: 10px;
        text-align: left;
    }
    .info-button-wrapper {
        text-align: right;
        padding-right: 15px;
        padding-top: 10px;
    }
    .info-button-wrapper a {
        min-width: 200px;
        margin: 2px 0;
        background: #274069;
    }
    .info-button-wrapper a.view-info-tgl + div {
        display: none;
    }
	.flights-details h3 {
	    color: #274069;
        font-size: 23px;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 0;
	}
	.flights-details h5 {
	    margin-top: -7px;
	    font-size: 15px;
	    color: #274069;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-weight: 300;
	    position: relative;
	}
	.flights-details h5:after {
    	content: '';
        position: absolute;
        bottom: -8px;
        height: 2px;
        background: #ee4e0c;
        width: 25px;
        left: 0;
        right: 0;
        margin: 0;
	}
	.flights-details h6 {
	    font-size: 13px;
	    color: rgba(15, 22, 38, 0.95);
	    text-transform: uppercase;
	}
	.flights-details h6 span {
	    background: rgba(15, 22, 38, 0.95);
	    border-radius: 50%;
	    width: 35px;
	    height: 35px;
	    display: inline-block;
	    line-height: 35px;
	    vertical-align: middle;
	    text-align: center;
	    color: #fff;
	}
	.flights-image .owl-item .item {
	    min-height: 390px;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center center;
	}
    .flights-image .owl-item .item img {
        height: initial;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
	.flight-details {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.flight-details ul {
	    padding: 0;
	    margin: 0;
	    list-style: none;
	    background: rgba(15, 22, 38, 0.05);
	}
	.flight-details ul li {
		display: inline-block;
		width: calc(100%/9);
		padding: 9px 0px 5px 0px;
		margin-right: -4px;
		margin-bottom: 0;
		text-align: center;
		vertical-align: top;
	}
	.flight-details ul li img {
	    max-width: 20px;
	    display: inline-block;
	}
	.flight-details ul li span {
	    width: 50%;
	    vertical-align: middle;
	    padding: 0px;
	    word-break: break-all;
	    font-size: 11px;
	    line-height: normal;
	    color: #274069;
        font-weight: 500;
	}
	.flight-from-to-destination-wrapper {
	    text-align: left;
	    padding: 15px 15px;
	    margin: 15px 0 15px;

	}
	.flight-from-to-destination-wrapper .heading {
	    display: inline-block;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        margin: 0;
	}
	.flight-from-to-destination-wrapper .heading h3 {
        margin: 0;
	    font-size: 12px;
	    line-height: normal;
	    background: rgba(15, 22, 38, 0.05);
	    padding: 15px 15px;
	}
	.status-wrapper {
        width: 100%;
        margin-right: -4px;
        display: inline-block;
        vertical-align: middle;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0 0 10px;
        text-align: center;
        background: rgba(15, 22, 38, 0.05);
	}
	.status-wrapper::-webkit-scrollbar {
	    width: 8px;
	    height: 5px;
	}
	.status-wrapper::-webkit-scrollbar-thumb {
	    background-color: #ee4e0c;
	}
	.status-wrapper .start, .status-wrapper .stop {
	    width: 80px;
	    height: 80px;
	    display: inline-block;
        position: relative;
	    vertical-align: middle;
	}
	.status-wrapper .slot {
	    display: inline-block;
	    vertical-align: middle;
	    width: 130px;
	    height: 80px;
	    position: relative;
	    padding-top: 0px;
	    margin-left: -4px;
	    border-left: 1px solid #274069;
	}
	.status-wrapper .slot:after {
	    content: "";
	    width: 100%;
	    height: 1px;
	    border-bottom: 1px dashed #274069;
	    position: absolute;
	    top: 42%;
        left: 0;
        right: 0;
	}
	.status-wrapper .start {
	    /*border-right: 1px solid #0f1626;*/
	}
	.status-wrapper .stop {
	    border-left: 1px solid #0f1626;
	}
	.status-wrapper .slot span.time {
		display: block;
		text-align: center;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1px;
		position: absolute;
		top: 25%;
		right: 0;
		left: 0;
        color: #274069;
	}
	.status-wrapper .slot .dot, .status-wrapper .stop .dot {
		width: 13px;
		height: 13px;
		background: #274069;
		border-radius: 50%;
		position: absolute;
		top: 35%;
		left: -7px;
		opacity: 1;
	}
	.place-wrap {
	    position: relative;
	    top: 60%;
	    right: -50%;
	    z-index: 1;
	}
	.place-wrap .place-code:first-child {
	    font-weight: 600;
	}
	.place-wrap .place-code {
	    display: block;
	    text-align: center;
	    font-size: 10px;
	    position: relative;
	    width: 100%;
	    height: 12px;
	    background: rgb(242, 243, 244);
	    line-height: normal;
        color: #274069;
	}
/* 6. Footer */
	footer {
	    border-bottom: 10px solid #0f1626;
	}
	.cotact-us-wrapper {
	    background: #f5f5f5;
	    padding: 100px 0 50px;
	}
	.cotact-us-wrapper h3 {
	    font-size: 35px;
	    font-weight: 100;
	    color: #0f1626;
	    margin-top: 0;
	    position: relative;
	    margin-bottom: 30px;
        text-transform: uppercase;
	}
	.cotact-us-wrapper h3:after {
	    content: "";
	    position: absolute;
	    width: 120px;
	    height: 1px;
	    background: #0f1626;
	    bottom: 0;
	    left: 0;
	}
	.custom-number-mail p {
	    font-size: 14px;
	    line-height: 20px;
	    font-weight: 300;
	    color: #ee4e0c;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    margin: 0 0 0;
	}
	.custom-number-mail p + a {
		display: block;
		margin: 0px 0 15px;
		font-size: 20px;
		line-height: 1.3;
		font-weight: 300;
		color: rgba(15, 22, 38, 1);
		text-decoration: none;
	}
	.custom-number-mail p + a:last-child {
	    margin-bottom: 0;
	}
	.contact-details {
	    background: rgba(15, 22, 38, 1);
		margin-top: 0px;
	    margin-bottom: 0px;
	    box-shadow: 0 40px 120px -20px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 0 40px 120px -20px rgba(0,0,0,0.3);
	    padding: 50px 20px;
	}
	.contact-details h3 {
	    font-size: 30px;
	    color: #fff;
	    font-weight: 100;
	    margin: 10px 0 0px;
	}
	p.copyright {
	    color: rgba(15, 22, 38, 0.71);
	    font-size: 14px;
	    margin: 10px 0 0;
	}
	.field-grp.display-inline {
		display: inline-block;
		margin-right: -4px;
		width: 50%;
		padding: 0 1px;
	}
	.field-grp input, .field-grp textarea {
	    width: 100%;
	    resize: none;
	    background: rgba(255, 255, 255, 0.11);
	    border: 0;
	    padding: 10px 12px;
	    font-size: 14px;
	    font-weight: 300;
	    outline: 0;
	    color: #fff;
	}
	.field-grp label {
	    color: #fff;
	    font-weight: 300;
	    font-size: 12px;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    margin: 15px 0 5px;
	}
	.field-grp button {
	    background: #ee4e0c;
	    border: 0;
	    padding: 10px 40px;
	    margin: 20px 0 0;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: 300;
	    font-size: 12px;
	    outline: 0;
	}
	.bottom-footer {
	    padding: 50px 0 40px;
	}
	.bottom-footer img {
	    width: 99px;
	    margin-top: -25px;
	}
	.bottom-footer ul {
	    padding: 0;
	    margin: 0;
	    list-style: none;
	    text-align: center;
	}
	.bottom-footer ul li {
	    display: inline-block;
	    vertical-align: top;
	    padding: 0 15px;
	}
	.bottom-footer ul li a {
    	font-size: 12px;
	    text-transform: uppercase;
	    color: #ee4e0c;
	    text-decoration: none;
	}
	.bottom-footer ul.social-links li a {
    	font-size: 15px;
	}
	/* 6.1. Copyright */
	/* 6.2. Social Icons */
	p.member-of {
	    margin-top: -15px;
	    margin-bottom: 0;
	}
 	p.member-of small {
	    color: #666;
	    margin-bottom: -15px;
	}
	.social-links ul {
		padding: 0;
		margin: 0;
		display: block;
		list-style: none;
		text-align: center;
	}
	.social-links ul li {
		display: inline-block;
		padding: 0 10px;
	}
	.social-links ul li a {
		font-size: 20px;
		line-height: 1;
		color: #000;
		text-decoration: none;
	}
	.social-links ul li a:hover {
		color: red;
	}
	
/* 7. Media Queries */
/* Large devices Desktops */
	@media(max-width: 1360px){
		/* About */
		.custom-process-in-steps > p > span{
			font-size: 16px;
		}
		.custom-process-in-steps > p{
		    font-size: 13px;
		}
		.custom-process-in-steps{
		    padding: 30px 15px;
		    margin: 35px 0 0;		
		}
		/* index */
		.custom-aircrafts-type .owl-dots {
		    position: absolute;
		    top: initial;
		    right: initial;
		    bottom: 0;
		    left: 0;
		}
		.custom-aircrafts-type .owl-theme .owl-dots .owl-dot {
		    display: inline-block;
	        width: 40px;
		}
		.custom-aircrafts-type .owl-theme .owl-dots .owl-dot span{
			width: 35px !important;
			margin: 0;
		}
	}
	@media(max-width: 1200px){
		/* Index */
		.custom-about-content{
		    padding: 10% 30px;
		}
		.custom-about-content h3{
			font-size: 25px
		}
		/* Legal */
		.legal-links{
			padding: 20px 0;
		}
		ol.p1 {
		    padding-left: 25px;
		}
		ol.p1 li{
			font-size: 14px;
		}
		.legal-links ul li a {
		    font-size: 16px;
		}
		.legal-content-wrapper h1 {
		    font-size: 25px;
		}
		.legal-content-wrapper p{
			font-size: 14px;
		}
		.legal-content-wrapper h4{
			font-size: 20px;
			font-weight: 300;
		}
		.legal-links:after {
		    width: 100%;
		    height: 1px;
		    bottom: 0;
		    top: initial;
		    border-radius: 0;
		}
		/* Search result */
        .booking-status-wrapper > h3 {
            font-size: 22px;
        }
        .modify-btn a.btn {
            letter-spacing: 0;
        }
        .flight-fare h3 sub {
            bottom: -2px;
            font-size: 24px;
            right: 5px;
            line-height: normal;
            letter-spacing: 0;
        }
        .flight-details ul li {
            width: calc(100%/6);
        }
        .booking-status .head {
            font-size: 15px;
            font-weight: 500;
        }
        .available-flights-wrapper {
            max-height: initial;
            overflow: visible;
        }
        a.view-info-tgl {
            display: none !important;
        }
        .info-button-wrapper a.view-info-tgl + div {
            display: block;
        }
        .flights-image .owl-item .item {
            min-height: 400px;
        }
        .flights-details-wrapper {
            padding: 55px 0 0;
        }
        .info-button-wrapper {
            text-align: center;
            padding-right: 0;
        }
        .info-heading-wrapper {
            text-align: center;
            padding-left: 0;
        }
        .flights-details h5:after {
            margin: 0 auto;
            content: '';
        }
        .info-heading-wrapper, .info-button-wrapper {
            width: 100%;
        }
		#search-result-wrapper > .container {
		    width: 100%;
		}
        .flights-details, .flights-image, .flights-details-wrapper {
            width: 50% !important;
        }
	}
/* Medium devices Desktops */
	@media(min-width: 992px){
		.custom-ipad-view{
			display: none !important;
		}
	}
	@media(max-width: 991px){
		.homepage-hero-module.set-max-height{
			max-height: 500px;
			background-size: cover;
			background-attachment: scroll;
		}
		.banner-content-wrapper{
			width: 400px;
		}
		.banner-content{
			margin-top: 0;
		}
		.homepage-hero-module.set-max-height .banner-content h1 {
		    font-size: 28px;
		}
		.booking-area {
		    width: 80%;
		}
        .booking-form .inline-block {
            width: 48%;
        }
		/* Index */
		.banner-content{
		    position: static;	
			transform: translateY(0%);
			-moz-transform: translateY(0%);
			-webkit-transform: translateY(0%);
		}
		.banner-content h1.tag + h1{
			font-size: 25px;
		}
		.banner-content p{
			font-size: 14px;
		}
		.custom-aircrafts-type .owl-dots {
		    position: absolute;
		    top: initial;
		    bottom: -20px;
		    left: 0;
		    right: 0;
		}
		.custom-about-content {
		    padding: 50px 15px;
		}
		/*.custom-about-image {
		    height: 300px !important;
		}*/
		.custom-work-process-heading img {
		    margin-top: -20px;
		}
		.welcome-content {
		    bottom: 0 !important;
		}
		.welcome-content h4{
		    font-weight: 500;
		    font-size: 16px;
		}
		.welcome p{
			line-height: 1.3;
			font-size: 14px;
			text-align: left;
		}
		section#welcome-box h2.tag {
		    text-align: left;
		    padding-left: 13px;
		}
		section#welcome-box h3{
			font-size: 25px;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 3px;
			color: #0f1626;
			text-align: left;
    		padding-left: 13px;
		}
		section#welcome-box h3:after {
		    margin: 0;
		    left: 15px;
		    height: 2px;
		    bottom: 0;
		}
		.testimonial-wrapper h3 {
		    font-weight: 400;
		    font-size: 25px;
		}
		/* About */	
		.process-in-steps h5{
			font-size: 20px;
		}
		.why-us-content {
		    padding: 0;
		}
		#why-us-section .container {
		    width: 100%;
		}
		#how-we-work-section .container-fluid{
			min-height: auto;
		}
		#how-we-work-section, .work-process-content{
		    min-height: 390px;
		}
		.work-process-content{
			padding: 30px 15px 0;
		}
		.work-process-content h3{
		    font-size: 20px;
		}
		.process-in-steps {
		    padding-left: 0;
		}
		.why-us-image {
		    text-align: center;
		}
		.why-us-image img {
 	   		max-width: 350px;
		    margin: 20px auto 0;
		}
		.custom-process-in-steps{
			margin-top: 0;
		}
		section#our-value-section{
		    padding: 50px 15px;
		}
		.our-value h2{
			font-size: 20px;
		}
		.our-value p{
		    font-size: 15px;
		}
		/* ourteam */
		section#our-team{
			padding: 50px 0;
		}
		/* FAQs */
		section#faqs > .container {
		    width: 100%;
		}
		/* Contact Us */
		.cotact-us-wrapper{
			padding: 50px 0;
		}
		.contact-details h3, .cotact-us-wrapper h3{
			font-size: 25px;
		}
		.custom-number-mail p{
			font-size: 12px;
		}
		.custom-number-mail p + a{
			font-size: 16px;
		}
		.custom-number-mail {
		    margin-bottom: 20px;
		}
		.field-grp.display-inline {
		    display: block;
		    margin-right: 0px;
		    width: 100%;
		    padding: 0 0px;
		}
		/* Search Page */
        .info-button-wrapper {
            padding-right: 0;
        }
        .flight-from-to-destination-wrapper {
            padding: 10px 15px;
        }
        .flight-from-to-destination-wrapper .heading h3 {
            padding: 10px 15px 10px;
        }
		.flight-details ul li {
            width: calc(100%/5);
            padding: 3px 0px 3px 0px;
            margin-right: -3px;
            text-align: left;
        }
        .info-button-wrapper a {
            min-width: initial;
            margin: 2px 0;
            font-size: 10px;
        }
		.booking-status .border-right{
		    padding: 0 5px;
		}
		.booking-status p.icon {
		    padding: 00;
		}
		.booking-status p.icon i{
			font-size: 15px;
		}
		.booking-status .head{
			font-size: 18px;
		}
		.flights-details h3{
			font-size: 25px;
		}
		.flights-details h5{
		    font-size: 15px;
		}
		.flight-fare h3{
			font-size: 20px;
		}
		.flights-details-wrapper .flight-detail-inner:after{
			left: 5px;
		}
	}
/* Small devices Tablets */
	@media(min-width: 768px){
		.custom-mobile-view{
			display: none !important;
		}
	}
	@media(max-width: 767px){
		.custom-desktop-view{
			display: none !important;
		}
		body {
		    margin-top: 82px;
		}
		/* Booking Place */
		.divider {
		    display: block;
		    margin-top: -20px;
		}
		.booking-area{
			width: 96%;
			padding: 15px;
		}
		.booking-area a.close-booking-tgl, .booking-area button, .book-btn{
			font-size: 10px !important;
    		padding: 7px 20px;
    		margin-bottom: 4px;
		}
		.inlable-wrap label{
			letter-spacing: 0;
			font-size: 12px;
		}
		.pure-radiobutton{
		    margin-right: 5px;
		    margin-bottom: 20px;
		}
		.status {
		    text-align: center;
		    margin-bottom: 10px;
		}
		.switch {
		    position: relative;
		    display: inline-block;
		    width: 42px;
		    height: 15px;
		    vertical-align: middle;
	        margin-top: 4px;
		}
		.slider:before {
			position: absolute;
		    content: "";
		    height: 10px;
		    width: 10px;
		    left: 3px;
		    bottom: 3px;
		    background-color: white;
		}
		.booking-form input, .booking-form select{
			padding: 6px 10px;
    		font-size: 15px;
		}
		.booking-area p{
			font-size: 20px;
		}
		.booking-area a.close-booking-tgl{
		    font-size: 12px;
		}
		.pure-radiobutton input[type=radio]+label {
			padding-top: 0px;
			padding-left: 20px;
		}
		.pure-radiobutton input[type=radio]+label, span.Advanced-filter-label{
			font-size: 12px;		    
		}
		.pure-checkbox input[type=checkbox]+label:before, .pure-checkbox input[type=radio]+label:before, .pure-radiobutton input[type=checkbox]+label:before, .pure-radiobutton input[type=radio]+label:before {
			width: 15px;
			height: 15px;
		}
		.pure-checkbox input[type=checkbox]+label:after, .pure-checkbox input[type=radio]+label:after, .pure-radiobutton input[type=checkbox]+label:after, .pure-radiobutton input[type=radio]+label:after {
			width: 9px;
			height: 9px;
		}

		/* Menu */
		a.mobile-tgl{
		    font-size: 14px;
		}
		a.mobile-tgl:before{
			top: 7px;
			height: 2px;
		}
		a.mobile-tgl:after{
			top: 13px;
			height: 2px;
		}
		body.active-menu a.mobile-tgl:before, body.active-menu a.mobile-tgl:after{
			top: 10px;
		}
		ul.menu > li{
			padding: 20px 10px;
			display: block;
			text-align: center;
		}
		ul.menu > li > a{
    		font-size: 15px;
		}
		/* Logo */
		.logo-wrapper img {
		    max-width: 100px;
			}
		.logo-wrapper{
			text-align: left;
			position: relative;
		}
		ul.header-tag li{
			left: 0;
		}
		/* Index */
		.testimonial-wrapper p img{
			max-width: 100px;
			margin: 10px;
		}
		.custom-about-image{
			background-position: top center;
		}
		/* Banner */
		.homepage-hero-module.set-max-height{
		    max-height: 450px;	
		}		
		.banner-content-wrapper {
		    width: initial;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    padding: 35px 0;
	        height: initial;
		}
		.homepage-hero-module.set-max-height .banner-content h1 {
		    font-size: 25px;
		    margin: 0;
		}
		/* About */
		#how-we-work-section, .work-process-content{
			min-height: auto;
		}
		#how-we-work-section > .container-fluid > .row > div {
		    width: 100%;
		}
		#how-we-work-section .container-fluid{
			background: none;
		    max-height: initial;
		}
		.work-process-content {
		    padding: 35px 15px 1px;
		    min-height: initial;
		    background: rgba(15, 22, 38, 1);
	        margin-bottom: -1px;
		}
		.custom-process-in-steps > p{
			width: 100%;
			display: block;
			margin-right: 0;
			padding: 0 15px;
		}
		.custom-process-in-steps {
		    background: rgba(15, 22, 38, 1);
		    box-shadow: none;
		    -webkit-box-shadow: none;
		    padding: 0 0 25px;
		}
		.custom-process-in-steps > p{
			color: #fff;
		}
		section#our-value-section{
			top: 0;
			margin-bottom: 0;
		}
		#our-value-section, .our-value-links, .our-value-description{
			min-height: auto;
		}
		.our-value-links ul li a{
			font-size: 12px;
			padding: 15px 10px;
		}
		.custom-tab-content{
			position: static;
			transform: scale(0) translateY(0%);
			-moz-transform: scale(0) translateY(0%);
			-webkit-transform: scale(0) translateY(0%);
			width: 100%;
			padding: 15px;
		    display: none;
		}
		.custom-tab-content.current{
			transform: scale(1) translateY(0%);
			-moz-transform: scale(1) translateY(0%);
			-webkit-transform: scale(1) translateY(0%);
		    display: block;
		}
		/* ourteam */
		.member-panel h4{
		    font-size: 16px;
		}
		.team-member > img, .team-member > .member-panel, .inverstor-member > img, .inverstor-member > .member-panel{
		    width: calc(100% - 150px);
		}
		.team-member > img, .team-member > .member-panel, .inverstor-member > img, .inverstor-member > .member-panel{
		    max-height: 200px;
		    min-height: 200px;
		}
		.team-member > img, .inverstor-member > img {
		    width: 150px;
		    height: initial;
		    min-height: initial;
		    margin-top: 25px;
		}
		/* FAQs */
		.faqs-wrapper > div {
		    width: 100%;
		    display: block;
		}
		.faq{
			padding: 20px 0px 20px 15px;
		}
		.faq h1{
			font-size: 14px;
		}
		.faq p {
		    font-size: 13px;
		    padding-right: 15px;
		}
		section#contact-us{
			padding: 50px 0;
		}
		section#contact-us h4 {
		    font-size: 20px;
		}
		a.btn {
		    padding: 12px 25px;
		    background: #0f1626;
		    color: #fff;
		    text-transform: uppercase;
		    font-size: 10px;
		    letter-spacing: 2px;
		    margin: 15px 0 0;
		    border-radius: 0;
		}
	 	/* Footer */
	 	.bottom-footer {
		    padding: 20px 0 20px;
		}
		p.member-of {
		    margin-top: 0;
		    margin-bottom: 0;
		    text-align: center;
		}
		p.member-of small {
	    	color: #666;
		    margin-bottom: -17px;
		    display: block;
		    left: -15px;
		    position: relative;
		}
		p.copyright {
		    font-size: 12px;
		    margin: 10px 0 10px;
		    text-align: center;
		}
		.bottom-footer ul{
			margin:5px 0;
		}
		.bottom-footer ul li{
			padding: 0 5px;
		}
		.bottom-footer ul li a{
			font-size: 10px;
		}
		/* Search Page */
		.available-flights-wrapper {
		    margin-right: 0;
            margin-left: 0;
		}
		.booking-status .border-right:nth-child(6) {
		    display: block;
		    text-align: center;
	        min-height: initial;
		    width: 100%;
		}
		.inlable-wrap .pure-radiobutton {
			width: 42%;
		}
		.flight-details ul li span{
			padding: 0 0px 0 0;
			font-size: 10px;
		}
		.flights-image, .flights-details-wrapper {
		    width: 100% !important;
		}
        .flights-image {
            display: block !important;
            margin-right: 0;
        }
		.flights-details-wrapper {
			padding: 55px 0 0px;
		}
		p.close-flights-details{
		    top: 8px;
			right: 15px;
		}
		p.close-flights-details i{
		    font-size: 20px;
		}
		a.book-now.btn {
			bottom: 8px;
			right: 15px;
			margin: 0;
			padding: 8px 20px;
			font-size: 8px;
		}
        .info-button-wrapper a.btn {
            margin: 3px 15px 0;
            width: initial;
            display: block;
        }
		.flights-details {
		    width: 100%;
		    position: relative;
		}
		.flight-details {
		    position: relative;
		    bottom: 0;
		}
        .booking-status .border-right {
            border-right: 0px solid #0f1626;
            padding: 0 0 0 15px;
            min-height: initial;
            margin-bottom: 15px;
        }
        .booking-status .border-right {
            width: 100%;
            padding: 0;
            margin: 0px 0 15px;
        }
        .booking-status .border-right p {
            margin: 0;
        }
        .info-heading-wrapper {
            padding-left: 0;
        }
        .info-button-wrapper {
            padding-right: 0;
        }
        .flight-details ul li {
            width: calc(100%/3.5);
        }
		.flights-details h3 {
		    font-size: 22px;
		    margin-top: 15px;
		    margin-bottom: 10px;
		}
		.flights-details h5 + a, .flights-details h5 + a + a {
		    margin-top: 0;
		    margin-bottom: 15px;
		}
		.flights-image .owl-item .item, .flights-details-wrapper {
		    max-height: 260px;
		    min-height: 260px;
		}
		.flights-details-wrapper .comm-class p{
			font-size: 12px;
			margin-top: 8px;
			text-align: center;
			margin-left: 0;
		}
		.flights-details-wrapper .comm-class p span{
		    font-size: 12px;
		}
		.flights-details-wrapper .comm-class img{
		    width: 35px;
		}
		.flight-fare h3 {
		    font-size: 15px;
		}
		.from-to-destination, .type-of-flight, .no-of-pessenger, .modify-btn{
			width: 25%;
		}
		.booking-status .border-right:nth-child(3) {
			border: 0;
		}
		.from-to-destination{
			width: 50%;
		}
		.booking-status-wrapper{
			padding: 15px 10px;
		}
		.booking-status .head{
			font-size: 15px;
			margin-bottom: 0;
			letter-spacing: 0;
			font-weight: 500;
		}
		.booking-status .details{
			font-size: 10px;
		}
		.booking-status p.icon{
			text-align: center;
		}
		.booking-status p.icon i{
			font-size: 12px;
			padding: 10px 12px;
		}
		#search-result-wrapper:before{
			right: 0;
		}
        .filter-wrappper {
            position: fixed;
            top: 50px;
            height: calc(100% - 90px);
            overflow: auto;
            padding: 0;
        }
        .filter-wrappper {
            width: 85%;
        }
		.flights-details-wrapper .icon.comm-class > p.time-duration{
		    font-size: 10px;
		}
		.active-filter .available-flights-wrapper{
			padding-left: 0
		}
		.filter-wrappper {
    		margin-right: -300px;
    		left: 0;
		    right: 0;
		    margin: 0 auto;
		}
		.flights-details-wrapper .flight-detail-inner:first-child .comm-class:first-child  p.place-code:after, 
		.flights-details-wrapper .flight-detail-inner:last-child .comm-class:last-child p:after {
			content: '\f111';
		    position: absolute;
		    font-family: fontawesome;
		    top: -5px;
		    width: 19px;
		    height: 19px;
		    background: transparent;
		    left: -30px;
		    border-radius: 50%;
		    border: 2px solid #ee4e0c;
		    text-align: center;
		    line-height: 16px;
		    color: #ee4e0c;
		    font-size: 13px;
		    opacity: 1;
		}
		.flights-details-wrapper .flight-detail-inner{
			padding-left: 15px
		}
		.flights-details-wrapper span.date{
		    font-size: 10px;
		}
		.booking-form .inline-block img {
			width: 20px;
    		height: 20px;
		}
		.for-multicity a {
		    padding: 7px 9px 4px;
			font-size: 12px;
		}
		.for-multicity {
		    margin-right: 6px;
		}
        .modify-btn a.btn {
            font-size: 10px;
        }
        .filter-grp h5 {
            font-size: 15px;
        }
        .filter-form {
            margin-bottom: 0;
        }
        .filter-grp .pure-radiobutton label {
            font-size: 12px;
        }
        .filter-grp label {
            font-size: 12px;
        }
        .pure-radiobutton {
            margin-bottom: 5px;
        }
        .filter-grp {
            margin-bottom: 10px;
            border-bottom: 1px solid;
            padding-bottom: 10px;
        }
        .filter-form form {
            display: block;
            margin: 0;
        }
        .flight-from-to-destination-wrapper {
            margin: 0;
        }
        .flights-details, 
        .flights-image, 
        .flights-details-wrapper, 
        .flights-details-wrapper .flight-detail-inner.inline-block {
            width: 100% !important;
        }
	}	

/* Extra Small devices Phones */
	@media(max-width: 500px){
		.our-value-links ul li a {
		    font-size: 12px;
		    padding: 12px 6px;
		}
		.team-member > img, .team-member > .member-panel, .inverstor-member > img, .inverstor-member > .member-panel{
		    width: calc(100% - 130px);
		}
		.team-member > img, .inverstor-member > img {
		    width: 130px;
		    height: initial;
		    min-height: initial;
		    margin-top: 35px;
		}
		section#about {
		    padding: 0;
		    margin-top: 0px;
		}
	}