<header>
	<div class="container">
		<div class="row">
			<!-- Logo -->
			<div class="col-md-6 col-sm-6">
				<div class="custom-logo">
					<p><img src="assets/img/logo.png" alt="logo"></p>
				</div>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="row">				
			<div class="col-md-12 col-sm-12 center">
				<div class="login-form-wrapper">
					<h3>JETSMART ADMIN</h3>
					<hr>
					<form>
						<input type="text" name="email" ng-model="admin.username" placeholder="Username/Email" required/>
						<input type="password" name="password" ng-model="admin.password" placeholder="Password" required>
						
						<button ng-click="loginAttempt()"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
					</form>
				</div>
            </div>	                            
	  	</div>
	</div>
</section>