<div class="row">
                <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">Add/Edit Agent</h4>
            </div>
            <div class="panel-body">
<!-- <form id="uploadForm" enctype="multipart/form-data" action="/media/upload" method="post">

      <input type="file" name="imgs" id="filesAirCraft" class="inputfile"  data-multiple-caption="{count} files selected" multiple image-uploader/>
                        <label for="filesAirCraft" id="upload-content" image-uploader1>Choose a file</label>
      <input type="submit" value="Upload Image" name="submit">

    </form> -->


                <form class="form-horizontal" name="AgentForm" ng-submit="submitForm(AgentForm.$valid)" novalidate>
                	<div class="form-group">
                		<div class="col-md-12" ng-init="form.typeSelector = 'single'">
                			<div class="col-md-8 col-md-offset-4">
                				<label>
                					<input value="single" type="radio" name="formTypeSelector" ng-model="form.typeSelector" /> Single
                				</label>&nbsp;&nbsp;&nbsp;
                				<label>
                					<input value="bluk upload" type="radio" name="formTypeSelector" ng-model="form.typeSelector" /> Bulk Upload
                				</label>
                			</div>
                		</div>
                	</div>
                    
                    <!-- Multiple -->
                    <div class="form-group" style="height: 40px;line-height: 20px;" ng-show="form.typeSelector == 'bluk upload'">
                        <label class="col-md-3 control-label">Bulk Upload of agents</label>
                        <div class="col-md-9">
                        <input type="file" name="file" id="filesAgent" class="inputfile" image-uploader/>
                        <label for="filesAgent" id="upload-content" image-uploader1>Choose a file</label>
                        <button ng-click="uploadFile();" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload</button>
                        <span id="spinningSquaresG" ng-show="isFileUploading">
                            <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
                        </span>
                            <!-- <button ng-click>upload</button> -->
                            <!-- <droplet ng-model="interface"></droplet> -->
                            <!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">
                                
                            </droplet>
                            agent_name:x["Agent Name"],
        agency_number :x["IATA Number"],
        agency_name:x["Agency"],
        address1:x["Adress 1"],
        address2:x["Adress 2"],
        city:x["City"],
        state:x["State"],
        country:x["Country"],
        pincode:x["pin Code"],
        phoneNo1:x["Phone 1"],
        phoneNo2:x["Phone 2"],
        mobileNo:x["Mobile"],
        email_id:x["Email id"],
        assigned_sales_person:x["assigned_sales_person"],
        faxNo:x["faxNo"]
                             -->
                        </div>
                    </div>
	                <span ng-show="form.typeSelector == 'single'">
	                    <div class="form-group"
	                    	 ng-class="{'has-success':AgentForm.agent_name.$valid && !AgentForm.jet_name.$pristine,
	                    				'has-error':AgentForm.agent_name.$invalid && !AgentForm.agent_name.$pristine}">
	                        <label class="col-md-3 control-label">Name</label>
	                        <div class="col-md-9">
	                            <input 	type="text" 
	                            		name="agent_name" class="form-control" 
	                            		ng-model="newAgent.agent_name"
	                            		placeholder="Enter the name" required>
	                        </div>
	                    </div>
	                    <!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">
	                                
	                            </droplet> -->
	                    <!-- Agency number -->
	                    <div class="form-group">
	                        <label class="col-md-3 control-label">Company</label>
	                        <div class="col-md-9">
	                        	<div class="row">
	                        		<div class="col-md-12" ng-init="type.selector = 'agency'">
	                        			<select class="form-control" 
	                        				ng-model="newAgent.company" ng-options="o.value as o.name for o in Companies"
	                        				required></select>
	                        			<!-- <label><input type="radio" value="agency" name="typeSelector" ng-model="type.selector" ng-change="agencyNo={}"> Agency</label>
	                        			<label><input type="radio" value="iata" name="typeSelector" ng-model="type.selector" ng-change="agencyNo={}"> IATA </label> -->
	                        			<span ng-hide="true">{{ newAgent.agency_number = agencyNo.one + agencyNo.two + agencyNo.three }}</span>
	                        		</div>
	                        		<div class="col-md-4">
	                        			<input 	type="text" 
		                            		name="" class="form-control" 
		                            		ng-model="agencyNo.one"
		                            		placeholder="" ng-disabled="type.selector == 'agency'" >
	                        		</div>
	                        		<div class="col-md-4">
	                        			<input 	type="text" 
		                            		name="" class="form-control" 
		                            		ng-model="agencyNo.two"
		                            		placeholder="" ng-disabled="type.selector == 'agency'" >
	                        		</div>
	                        		<div class="col-md-4">
	                        			<input 	type="text" 
		                            		name="" class="form-control" 
		                            		ng-model="agencyNo.three"
		                            		placeholder="" ng-disabled="type.selector == 'agency'" >
	                        		</div>
	                        	</div>
	                        </div>
	                    </div>

	                    <!-- address -->
	                    <div class="form-group"
	                    	 ng-class="{'has-success':AgentForm.address1.$valid && !AgentForm.address1.$pristine,
	                    				'has-error':AgentForm.address1.$invalid && !AgentForm.address1.$pristine}">
	                        <label class="col-md-3 control-label">Address</label>
	                        <div class="col-md-9">
	                            <input 	type="text" 
	                            		name="address1" class="form-control" 
	                            		ng-model="newAgent.address1"
	                            		placeholder="Address line 1">
	                        </div>
	                    </div>
	                    <div class="form-group"
	                    	 ng-class="{'has-success':AgentForm.address2.$valid && !AgentForm.address2.$pristine,
	                    				'has-error':AgentForm.address2.$invalid && !AgentForm.address2.$pristine}">
	                        <label class="col-md-3 control-label"></label>
	                        <div class="col-md-9">
	                            <input 	type="text" 
	                            		name="address2" class="form-control" 
	                            		ng-model="newAgent.address2"
	                            		placeholder="Address line 2">
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label class="col-md-3 control-label">Country</label>
	                        <div class="col-md-9" ng-init="newAgent.country=''">
	                            <select class="form-control" name="region" ng-model="newAgent.country">
	                                <option value="" disabled hidden>Country</option>
	                                <option value="{{x.countryName}}" ng-repeat="x in country">{{x.countryName}}</option>
	                            </select>
	                        </div>
	                    </div>

	                    <div class="form-group">
	                        <label class="col-md-3 control-label">Region</label>
	                        <div class="col-md-9" ng-init="newAgent.state=''">
	                            <select class="form-control" name="Region" ng-model="newAgent.state" ng-disabled="newAgent.country==''">
	                                <option value="" disabled hidden>Region</option>
	                                <option value="{{x.stateName}}" ng-repeat="x in states">{{x.stateName}}</option>
	                            </select>
	                        </div>
	                    </div>

	                    <div class="form-group"
	                    		ng-class="{'has-success':AgentForm.city.$valid && !AgentForm.city.$pristine,
	                    				'has-error':AgentForm.city.$invalid && !AgentForm.city.$pristine}">
	                        <label class="col-md-3 control-label">City</label>
	                        <div class="col-md-9">
	                            <select class="form-control" name="city" ng-model="newAgent.city" ng-disabled="newAgent.state==''">
	                                <option value="" disabled hidden>City</option>
	                                <option value="{{x.cityName}}" ng-repeat="x in cities" required>{{x.cityName}}</option>
	                            </select>
	                        </div>
	                    </div>

	                    <!-- pincode -->
	                    <div class="form-group">
	                        <label class="col-md-3 control-label">Pincode</label>
	                        <div class="col-md-9">
	                            <input 	type="number" 
	                            		name="pincode" class="form-control" 
	                            		ng-model="newAgent.pincode"
	                            		placeholder="pincode">
	                        </div>
	                    </div>

	                    <!-- phone number -->
	                    <div class="form-group">
	                        <label class="col-md-3 control-label">Phone Number </label>
	                        <div class="col-md-9">
	                            <input 	type="number" 
	                            		name="phoneNo1" class="form-control" 
	                            		ng-model="newAgent.phoneNo1"
	                            		placeholder="phone number">
	                        </div>
	                    </div>

	                    <!-- fax number-->
	                    <div class="form-group">
	                        <label class="col-md-3 control-label">Fax Number </label>
	                        <div class="col-md-9">
	                            <input 	type="number" 
	                            		name="faxNo" class="form-control" 
	                            		ng-model="newAgent.faxNo"
	                            		placeholder="fax number">
	                        </div>
	                    </div>

	                    <!-- fax number-->
	                    <div class="form-group">
	                        <label class="col-md-3 control-label">Email Id</label>
	                        <div class="col-md-9">
	                            <input 	type="email" 
	                            		name="email_id" class="form-control" 
	                            		ng-model="newAgent.email_id"
	                            		placeholder="example@mail.com">
	                        </div>
	                    </div>

	                    <!-- assigned_sales_person  -->
	                    <div class="form-group">
	                        <label class="col-md-3 control-label">Assigned Sales Persone</label>
	                        <div class="col-md-9">
	                            <input 	type="text" 
	                            		name="" class="form-control" 
	                            		ng-model="newAgent.assigned_sales_person"
	                            		placeholder="" required>
	                        </div>
	                    </div>

	                    <!-- Category Type -->
	                    <div class="form-group">
	                        <label class="col-md-3 control-label">Category</label>
	                        <div class="col-md-9">
	                        	<select class="form-control" name="category" ng-model="newAgent.category">
	                                <option value="">category</option>
	                            </select>
	                        </div>
	                    </div>

	                    <!--  OWNER MANAGEMENT TEAM -->
	                    <div class="form-group" style="padding: 0 50px;">
	                        <label class="col-md-12 control-label" style="text-align: center;background: #ccc">OWNER MANAGEMENT TEAM</label>
	                    </div>

	                    <div class="form-group">
	                        <label class="col-md-1 control-label">SNo</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Name</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
	                        <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.owner_manegement_team()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
	                    </div>

	                    <div class="form-group" ng-repeat="x in newAgent.owner_manegement_team track by $index">
	                    	<label class="col-md-1 control-label">{{$index+1}}</label>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.name">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.designation">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.date_of_birth">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.anniversery">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text"  class="form-control" name="" ng-model="x.phone">
	                        </div>
	                        <div class="col-md-1">
	                        	<a ng-show="$last" href="javascript:;" ng-click="remove.owner_manegement_team()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
	                        </div>
	                    </div>                    
	                    <!-- END OWNER MANAGEMENT TEAM -->

	                    <!--  KEY PERSONNEL DETAILS -->
	                    <div class="form-group" style="padding: 0 50px;">
	                        <label class="col-md-12 control-label" style="text-align: center;background: #ccc">KEY PERSONNEL DETAILS</label>
	                    </div>

	                    <div class="form-group" >
	                        <label class="col-md-1 control-label">SNo</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Name</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
	                        <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.key_personal_detail()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
	                    </div>

	                    <div class="form-group" ng-repeat="x in newAgent.key_personal_detail track by $index">
	                    	<label class="col-md-1 control-label">{{$index+1}}</label>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.name">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.designation">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.date_of_birth">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.anniversery">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text"  class="form-control" name="" ng-model="x.phone">
	                        </div>
	                        <div class="col-md-1">
	                        	<a ng-show="$last" href="javascript:;" ng-click="remove.key_personal_detail()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
	                        </div>
	                    </div>
	                    <!-- END KEY PERSONNEL DETAILS -->

	                    <!--  NAME OF CORPORATE ACCOUNTS HANDLED -->
	                    <div class="form-group" style="padding: 0 50px;">
	                        <label class="col-md-12 control-label" style="text-align: center;background: #ccc">NAME OF CORPORATE ACCOUNTS HANDLED</label>
	                    </div>	

	                    <div class="form-group">
	                        <label class="col-md-1 control-label">SNo</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Name</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
	                        <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.name_of_corparate_account()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
	                    </div>

	                    <div class="form-group" ng-repeat="x in newAgent.name_of_corparate_account track by $index">
	                    	<label class="col-md-1 control-label">{{$index+1}}</label>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.name">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.designation">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.date_of_birth">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.anniversery">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text"  class="form-control" name="" ng-model="x.phone">
	                        </div>
	                        <div class="col-md-1">
	                        	<a ng-show="$last" href="javascript:;" ng-click="remove.name_of_corparate_account()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
	                        </div>
	                    </div>
	                    <!-- END NAME OF CORPORATE ACCOUNTS HANDLED -->



	                   

	                    <div class="form-group">
	                        <label class="col-md-3 control-label"></label>
	                        <div class="col-md-9">
	                            <button type="submit" ng-disabled="AgentForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
	                        </div>
	                    </div>
                    </span>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
</div>

                
