<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->
            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
        </div>
        <h4 class="panel-title">Agents</h4>
    </div>
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->
    <div class="row" style="padding: 0 15px; ">
        <div class="col-md-12"><h2>Filter</h2></div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="agentSearch.agent_name" type="text" class="form-control" placeholder="Search by Agent Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="agentSearch.agency_number" type="text" class="form-control" placeholder="Search by IATA">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="agentSearch.city" type="text" class="form-control" placeholder="Search by City Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="agentSearch.state" type="text" class="form-control" placeholder="Search by State Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="agentSearch.email_id" type="text" class="form-control" placeholder="Search by Email">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="agentSearch.mobileNo" type="text" class="form-control" placeholder="Search by Mobile Number">
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Agency</th>
                    <th>IATA Number</th>
                    <!-- <th>Adress 1</th>
                    <th>Adress 2</th> -->
                    <th>City</th>
                    <th>pin Code</th>
                    <th>State</th>
                    <th>Country</th>
                    <!-- <th>P</th> -->
                    <!-- <th>Phone 1</th> -->
                    <!-- <th>Phone 2</th> -->
                    <th>Mobile</th>
                    <th>Email id</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in agents | filter:agentSearch">
                    <td>{{x.agent_name}}</td>
                    <td>{{x.agency_number}}</td>
                    <!-- <td>{{x.address1}}</td>
                    <td>{{x.address2}}</td> -->
                    <td>{{x.city}}</td>
                    <td>{{x.state}}</td>
                    <td>{{x.country}}</td>
                    <td>{{x.phoneNo}}</td>
                    <td>{{x.mobileNo}}</td>
                    <td>{{x.email_id}}</td>
                    <td>{{x.status}}</td>
                    <td><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <!-- <tr class="even gradeC">
                    <td>Trident</td>
                    <td>Internet Explorer 5.0</td>
                    <td>Win 95+</td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr class="odd gradeA">
                    <td>Trident</td>
                    <td>Internet Explorer 5.5</td>
                    <td>Win 95+</td>
                    <td><a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr class="even gradeA">
                    <td>Trident</td>
                    <td>Internet Explorer 6</td>
                    <td>Win 98+</td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr> -->
                
            </tbody>
        </table>
    </div>
</div>
<!-- end panel-->
<script type="text/ng-template" id="agent-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Agent</h4>
            </div>
    <div class="panel-body">
                        <form class="form-horizontal" name="AgentForm" ng-submit="submitForm(AgentForm.$valid)" novalidate>
                            <fieldset ng-disabled="Title == ''" style="border: none">
                                 <div class="form-group"
                                      ng-class="{'has-success':AgentForm.agent_name.$valid && !AgentForm.jet_name.$pristine,
                                                 'has-error':AgentForm.agent_name.$invalid && !AgentForm.agent_name.$pristine}">
                                     <label class="col-md-3 control-label">Agent Name</label>
                                     <div class="col-md-9">
                                         <input  type="text" 
                                                 name="agent_name" class="form-control" 
                                                 ng-model="newAgent.agent_name"
                                                 placeholder="Enter the name" required>
                                     </div>
                                 </div>
                                 <!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">
                                             
                                         </droplet> -->
                                 <!-- Agency number -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Agency/IATA No. </label>
                                     <div class="col-md-9">
                                         <div class="row">
                                             <div class="col-md-12" ng-init="type.selector = 'agency'">
                                                 <input  type="text" 
                                                     name="" class="form-control" 
                                                     ng-model="newAgent.agency_number"
                                                     placeholder="" ng-disabled="true" >
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                                 <!-- address -->
                                 <div class="form-group"
                                      ng-class="{'has-success':AgentForm.address1.$valid && !AgentForm.address1.$pristine,
                                                 'has-error':AgentForm.address1.$invalid && !AgentForm.address1.$pristine}">
                                     <label class="col-md-3 control-label">Address</label>
                                     <div class="col-md-9">
                                         <input  type="text" 
                                                 name="address1" class="form-control" 
                                                 ng-model="newAgent.address1"
                                                 placeholder="Address line 1">
                                     </div>
                                 </div>
                                 <div class="form-group"
                                      ng-class="{'has-success':AgentForm.address2.$valid && !AgentForm.address2.$pristine,
                                                 'has-error':AgentForm.address2.$invalid && !AgentForm.address2.$pristine}">
                                     <label class="col-md-3 control-label"></label>
                                     <div class="col-md-9">
                                         <input  type="text" 
                                                 name="address2" class="form-control" 
                                                 ng-model="newAgent.address2"
                                                 placeholder="Address line 2">
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Country</label>
                                     <div class="col-md-9" ng-init="newAgent.country=''">
                                         <select class="form-control" name="region" ng-model="newAgent.country" ng-options="x.countryName as x.countryName for x in country">
                                             <option value="" disabled hidden>Country</option>
                                         </select>
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Region</label>
                                     <div class="col-md-9" ng-init="newAgent.state=''">
                                         <select class="form-control" name="Region" ng-model="newAgent.state" ng-disabled="newAgent.country==''">
                                             <option value="" disabled hidden>Region</option>
                                             <option value="{{x.stateName}}" ng-repeat="x in states">{{x.stateName}}</option>
                                         </select>
                                     </div>
                                 </div>

                                 <div class="form-group"
                                         ng-class="{'has-success':AgentForm.city.$valid && !AgentForm.city.$pristine,
                                                 'has-error':AgentForm.city.$invalid && !AgentForm.city.$pristine}">
                                     <label class="col-md-3 control-label">City</label>
                                     <div class="col-md-9">
                                         <select class="form-control" name="city" ng-model="newAgent.city" ng-disabled="newAgent.state==''">
                                             <option value="" disabled hidden>City</option>
                                             <option value="{{x.cityName}}" ng-repeat="x in cities" required>{{x.cityName}}</option>
                                         </select>
                                     </div>
                                 </div>

                                 <!-- pincode -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Pincode</label>
                                     <div class="col-md-9">
                                         <input  type="number" 
                                                 name="pincode" class="form-control" 
                                                 ng-model="newAgent.pincode"
                                                 placeholder="pincode">
                                     </div>
                                 </div>

                                 <!-- phone number -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Phone Number </label>
                                     <div class="col-md-9">
                                         <input  type="number" 
                                                 name="phoneNo1" class="form-control" 
                                                 ng-model="newAgent.phoneNo1"
                                                 placeholder="phone number">
                                     </div>
                                 </div>

                                 <!-- fax number-->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Fax Number </label>
                                     <div class="col-md-9">
                                         <input  type="number" 
                                                 name="faxNo" class="form-control" 
                                                 ng-model="newAgent.faxNo"
                                                 placeholder="fax number">
                                     </div>
                                 </div>

                                 <!-- fax number-->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Email Id</label>
                                     <div class="col-md-9">
                                         <input  type="email" 
                                                 name="email_id" class="form-control" 
                                                 ng-model="newAgent.email_id"
                                                 placeholder="example@mail.com">
                                     </div>
                                 </div>

                                 <!-- assigned_sales_person  -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Assigned Sales Persone</label>
                                     <div class="col-md-9">
                                         <input  type="text" 
                                                 name="" class="form-control" 
                                                 ng-model="newAgent.assigned_sales_person"
                                                 placeholder="" required>
                                     </div>
                                 </div>

                                 <!-- Auto Ticket Cap -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Auto Ticket Cap</label>
                                     <div class="col-md-9" ng-init="newAgent.auto_ticket_cap = 'no'">
                                         <label>
                                             <input  type="radio" name="autoTicketType" value="yes" ng-model="newAgent.auto_ticket_cap"> Yes
                                         </label>
                                         <label>
                                             <input  type="radio" name="autoTicketType" value="no" ng-model="newAgent.auto_ticket_cap"> No
                                         </label>
                                     </div>
                                 </div>

                                 <!-- Agency Type -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Agency Type</label>
                                     <div class="col-md-9">
                                         <select class="form-control" name="agency_type" ng-model="newAgent.agency_type">
                                             <option value="">agency type</option>
                                         </select>
                                     </div>
                                 </div>

                                 <!-- Agency Type -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Category</label>
                                     <div class="col-md-9">
                                         <select class="form-control" name="category" ng-model="newAgent.category">
                                             <option value="">category</option>
                                         </select>
                                     </div>
                                 </div>

                                 <!-- Bank Guarentee Type -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Bank Guarentee Type</label>
                                     <div class="col-md-9">
                                         <select class="form-control" name="bank_guarentee_type" ng-model="newAgent.bank_guarentee_type" disabled>
                                             <option value="">select</option>
                                         </select>
                                     </div>
                                 </div>

                                 <!-- bank_guarentee_amount -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Bank Guarentee (Amount in INR)</label>
                                     <div class="col-md-9">
                                         <input  type="number" 
                                                 name="bank_guarentee_amount" class="form-control" 
                                                 ng-model="newAgent.bank_guarentee_amount"
                                                 placeholder="" disabled>
                                     </div>
                                 </div>

                                 <!-- bank_guarntee_valid -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Bank Guarentee valid Upto</label>
                                     <div class="col-md-9">
                                         <input  type="text" 
                                                 name="bank_guarntee_valid" class="form-control" 
                                                 ng-model="newAgent.bank_guarntee_valid"
                                                 placeholder="" disabled>
                                     </div>
                                 </div>

                                 <!-- prefferd_airline_sold -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Prefferd Airline Sold</label>
                                     <div class="col-md-9">
                                         <input  type="number" 
                                                 name="prefferd_airline_sold" class="form-control" 
                                                 ng-model="newAgent.prefferd_airline_sold"
                                                 placeholder="">
                                     </div>
                                 </div>

                                 <!-- primary_destination_sold -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Primary Destination Sold</label>
                                     <div class="col-md-9">
                                         <input  type="number" 
                                                 name="primary_destination_sold" class="form-control" 
                                                 ng-model="newAgent.primary_destination_sold"
                                                 placeholder="">
                                     </div>
                                 </div>

                                 <!-- Other Airline's PLB/VIC -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Other Airline's PLB/VIC</label>
                                     <div class="col-md-9">
                                         <label>
                                             <input  type="checkbox" 
                                                 name="autoTicketType" 
                                                 ng-model="newAgent.other_airline"> Yes
                                         </label>
                                     </div>
                                 </div>

                                <!-- Our Corporate Deal -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Our Corporate Deal</label>
                                     <div class="col-md-9" ng-init="newAgent.corparate_deal = 'no'">
                                         <label>
                                             <input  type="radio" 
                                                 name="autoTicketType" value="yes" 
                                                 ng-model="newAgent.corparate_deal"> Yes
                                         </label>
                                         <label>
                                             <input  type="radio" 
                                                 name="autoTicketType" value="no" 
                                                 ng-model="newAgent.corparate_deal"> No
                                         </label>
                                     </div>
                                 </div>

                                 <!--  Our PLB/VIC/Target PLB/VIC -->
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Our PLB/VIC/Target</label>
                                     <div class="col-md-9">
                                         <label>
                                             <input  type="checkbox" 
                                                 name="autoTicketType" 
                                                 ng-model="newAgent.target"> Yes
                                         </label>
                                     </div>
                                 </div>


                                 <!--  OWNER MANAGEMENT TEAM -->
                                 <div class="form-group" style="padding: 0 50px;">
                                     <label class="col-md-12 control-label" style="text-align: center;background: #ccc">OWNER MANAGEMENT TEAM</label>
                                 </div>

                                 <div class="form-group">
                                     <label class="col-md-1 control-label">SNo</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Name</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
                                     <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.owner_manegement_team()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                                 </div>

                                 <div class="form-group" ng-repeat="x in newAgent.owner_manegement_team track by $index">
                                     <label class="col-md-1 control-label">{{$index+1}}</label>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.name">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.designation">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.date_of_birth">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.anniversery">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text"  class="form-control" name="" ng-model="x.phone">
                                     </div>
                                     <div class="col-md-1">
                                         <a ng-show="$last" href="javascript:;" ng-click="remove.owner_manegement_team()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                                     </div>
                                 </div>                    
                                 <!-- END OWNER MANAGEMENT TEAM -->

                                 <!--  KEY PERSONNEL DETAILS -->
                                 <div class="form-group" style="padding: 0 50px;">
                                     <label class="col-md-12 control-label" style="text-align: center;background: #ccc">KEY PERSONNEL DETAILS</label>
                                 </div>

                                 <div class="form-group" >
                                     <label class="col-md-1 control-label">SNo</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Name</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
                                     <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.key_personal_detail()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                                 </div>

                                 <div class="form-group" ng-repeat="x in newAgent.key_personal_detail track by $index">
                                     <label class="col-md-1 control-label">{{$index+1}}</label>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.name">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.designation">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.date_of_birth">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.anniversery">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text"  class="form-control" name="" ng-model="x.phone">
                                     </div>
                                     <div class="col-md-1">
                                         <a ng-show="$last" href="javascript:;" ng-click="remove.key_personal_detail()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                                     </div>
                                 </div>
                                 <!-- END KEY PERSONNEL DETAILS -->

                                 <!--  NAME OF CORPORATE ACCOUNTS HANDLED -->
                                 <div class="form-group" style="padding: 0 50px;">
                                     <label class="col-md-12 control-label" style="text-align: center;background: #ccc">NAME OF CORPORATE ACCOUNTS HANDLED</label>
                                 </div>  

                                 <div class="form-group">
                                     <label class="col-md-1 control-label">SNo</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Name</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
                                     <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
                                     <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.name_of_corparate_account()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                                 </div>

                                 <div class="form-group" ng-repeat="x in newAgent.name_of_corparate_account track by $index">
                                     <label class="col-md-1 control-label">{{$index+1}}</label>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.name">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.designation">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.date_of_birth">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text" class="form-control" name="" ng-model="x.anniversery">
                                     </div>
                                     <div class="col-md-2">
                                         <input  type="text"  class="form-control" name="" ng-model="x.phone">
                                     </div>
                                     <div class="col-md-1">
                                         <a ng-show="$last" href="javascript:;" ng-click="remove.name_of_corparate_account()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                                     </div>
                                 </div>
                                 <!-- END NAME OF CORPORATE ACCOUNTS HANDLED -->



                                

                                 <div class="form-group">
                                     <label class="col-md-3 control-label"></label>
                                     <div class="col-md-9">
                                         <button type="submit" ng-disabled="AgentForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                                     </div>
                                 </div>
                            </fieldset>
                        </form>
    </div>
</div>
</script>