	<header id="home">
		<!-- Video Section -->
		<div class="homepage-hero-module" style="height: 815px;">
		    <div class="video-container">
		        <div class="poster">
		            <img src="assets/img/luxury-jet.jpg" alt="JetSmart">
		        </div>
		    </div>
		    <div class="video-overlay"></div>
		    <div class="banner-content-wrapper">
		    	<div class="banner-content">
		    		<img src="assets/img/jet.png" alt="JetSmart">
		    		<h1 class="tag">Elevate your experience</h1>
		    		<h1>Who We Are?</h1>
		    		<p>Since 2016, <b>JetSmart</b> is a full Charter Aviation Service provider with offices in New Delhi, Bengaluru, and Mumbai. <b>JetSmart</b> has a custom built jet charter platform to ensure the best experience and best value when chartering a private jet, turboprop or a helicopter. <b>JetSmart</b> is an active member of Business Aircraft Operators Association India (BAOA).</p>
		    	</div>
		    </div>
		</div>
		<!-- Video Section End -->
		<!-- Logo and Menu -->
		<div class="headroom" id="headroom">
			<div class="menu-wrapper">
				<div class="row">
					<!-- Menu Toggle -->
					<div class="logo-wrapper">
						<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
						<ul class="header-tag">
							<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
						</ul>
						<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		    var myElement = new Headroom(document.querySelector(".headroom"), {
		        offset : 100
		    });
		    myElement.init();
		    //
		    var index = 1,
		max = $('.header-tag li span').length;

			function setActive() {
				setTimeout(function () {
					$('.active-rotate').removeClass('active-rotate');
					index++;
					if(index > max) {
						index = 1;    
					}
					$('.header-tag li span:nth-of-type(' + index + ')').addClass('active-rotate');
					setActive();
				}, 2500);
			}
			
			setActive();
		</script>
		<div class="menu-overlay"></div>					
		<ul class="menu" id="menu">
			<li><a ui-sref="home">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="ourteam.html">Our Team</a></li>
			<li><a href="faqs.html">FAQs</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		<!-- Logo and Menu End -->
	</header>
	<!-- Booking Area -->
	<div class="booking-module-wrapper" booking-form>
		<a href="javascript:void(0);" class="booking-tgl">Book Now</a>
		<div class="book-overlay"></div>
		<div class="booking-area"><!-- ng-class="{'custom-remove-overlay' : toggle.stopScroll}" -->
			<div class="booking-form">
				<form name="surhForm" autocomplete="off" ng-submit="submitSearch(searchObj)">
					<div class="status">
						<div class="pure-radiobutton">
							<input type="radio" id="oneWay" name="tripType" class="radio" value="oneWay" ng-model="searchObj.tripType">
							<label for="oneWay" data-reactid="155">One Way</label>
						</div>
						<div class="pure-radiobutton">
							<input type="radio" id="roundTrip" name="tripType" class="radio" value="roundTrip" ng-model="searchObj.tripType">
							<label for="roundTrip">Round Trip</label>
						</div>
						<div class="pure-radiobutton">
							<input type="radio" id="multicity" name="tripType" class="radio" value="multicity" ng-model="searchObj.tripType">
							<label for="multicity">Multicity</label>
						</div>
						<div class="divider"></div>
						<label class="switch">
							<input type="checkbox" ng-model="searchType">
							<span class="slider round"></span>
						</label>
						<span class="Advanced-filter-label">Advanced Filter</span>
					</div>
					<!-- <div class="advanced-booking-container"  ng-class="{'cls-active':searchType}"> -->
						<!-- <div class="advanced-booking-engine" ng-class="{'cls-active':searchType}"> -->
						<div class="advanced-booking-engine" ng-class="{'cls-active':searchType}">
							<div class="advanced-booking">
								<div class="inlable-wrap block">
									<div class="filter-grp">
										<h5>Aircraft type</h5>
										<div class="pure-radiobutton">
											<input type="checkbox" id="heavyjets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.heavy_jet">
											<label for="heavyjets">Heavy Jet</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="smidjets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.super_mid_jet">
											<label for="smidjets">Super-Mid Jets</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="msizejets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.mid_size_jet">
											<label for="msizejets">Mid-size Jets</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="lightjets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.light_jet">
											<label for="lightjets">Light Jets</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="turboprop" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.turbo_props">
											<label for="turboprop">Turbo Props</label>
										</div>
									</div>
								</div>
								<div class="inlable-wrap block">
									<div class="filter-grp">
										<h5>Facility</h5>
										<div class="pure-radiobutton">
											<input type="checkbox" id="flight-attendant" name="tripType" class="radio" value="on" ng-model="searchObj.facility.flight_attendant">
											<label for="flight-attendant">Flight Attendant</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="lavatory" name="tripType" class="radio" value="on" ng-model="searchObj.facility.lavatory">
											<label for="lavatory">Lavatory</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="satellite-phone" name="tripType" class="radio" value="on" ng-model="searchObj.facility.satellite_phone">
											<label for="satellite-phone">Satellite Phone</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="wifi" name="tripType" class="radio" value="on" ng-model="searchObj.facility.wifi">
											<label for="wifi">Wifi</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="wifi" name="tripType" class="radio" value="on" ng-model="searchObj.facility.baggage">
											<label for="wifi">Baggage</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					<!-- </div> -->
					<!-- first roots -->
					<div class="inlable-wrap inline-block">
						<label>From</label>
						<input type="text" ng-model="searchObj.roots[0].originName" uib-typeahead="x.airport +', '+ x.cityName + ', ' + x.stateName + ', ' + x.countryName + ' ['+ x.icao +']' for x in airportDropdown | filter:$viewValue" class="form-control" required>
						<img src="assets/img/from-blue.png" alt="place-from">
						<img src="assets/img/from-org.png" alt="place-from">
					</div>
					<div class="inlable-wrap inline-block">
						<label>To</label>
						<input type="text" ng-model="searchObj.roots[0].destinationName" uib-typeahead="x.airport +', '+ x.cityName + ', ' + x.stateName + ', ' + x.countryName + ' ['+ x.icao +']' for x in airportDropdown | filter:$viewValue" class="form-control" ng-focus="toggle.stopScroll = true" ng-blur="autoFill(0); toggle.stopScroll = false" required>
						<!-- <input type="text" name="to" required ng-model="searchObj.roots[0].destinationName"> -->
						<img src="assets/img/to-blue.png" alt="place-to">
						<img src="assets/img/to-org.png" alt="place-to">
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Date</label>
						<input type="text" id="date" date-picker date min-date="today" ng-model="searchObj.roots[0].departureDate" required>
						<img src="assets/img/dep-blue.png" alt="Departure-Date">
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Time</label>
						<input type="text" id="time" bt-time ng-model="searchObj.roots[0].departureTime" required>
						<img src="assets/img/dept-blue.png" alt="Departure-Time">
					</div>
					<!-- first roots -->
					<!-- multicity -->
					<span class="multicity-box">
						<div class="for-multicity" ng-repeat="x in searchObj.roots" ng-hide="$first">
						<a href="javascript:void(0);" class="add more-city" ng-click="addMulticity($index)" ng-show="$last"><i class="fa fa-plus" aria-hidden="true"></i></a>
						<a href="javascript:void(0);" class="minus more-city" ng-click="removeMulticity($index); $event.stopPropagation();" ng-show="$last && $index != 1"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<div class="inlable-wrap inline-block">
							<label>From</label>
							<input type="text" class="form-control" 
								uib-typeahead="x.airport +', '+ x.cityName + ', ' + x.stateName + ', ' + x.countryName + ' ['+ x.icao +']' for x in airportDropdown | filter:$viewValue"
								ng-model="searchObj.roots[$index].originName" disabled>
							<img src="assets/img/from-blue.png" alt="place-from">
							<img src="assets/img/from-org.png" alt="place-from">
						</div>
						<div class="inlable-wrap inline-block">
							<label>To</label>
							<input type="text" class="form-control"
								uib-typeahead="x.airport +', '+ x.cityName + ', ' + x.stateName + ', ' + x.countryName + ' ['+ x.icao +']' for x in airportDropdown | filter:$viewValue"
								ng-model="searchObj.roots[$index].destinationName" 
								ng-required="searchObj.tripType == 'multicity'" 
								ng-blur="autoFill($index)">
							<img src="assets/img/to-blue.png" alt="place-to">
							<img src="assets/img/to-org.png" alt="place-to">
						</div>
						<div class="inlable-wrap inline-block">
							<label>Departure Date</label>
							<input type="text" id="date" ng-model="x.departureDate" 
							date-picker date min-date="{{searchObj.roots[$index-1].departureDate || 'today'}}"
							ng-model="searchObj.roots[$index].departureDate" ng-required="searchObj.tripType == 'multicity'" >
							<img src="assets/img/dep-blue.png" alt="Departure-Date">
						</div>
						<div class="inlable-wrap inline-block">
							<label>Departure Time</label>
							<input type="text" id="time" ng-model="x.departureTime" bt-time ng-model="searchObj.roots[$index].departureTime" ng-required="searchObj.tripType == 'multicity'" >
							<img src="assets/img/dept-blue.png" alt="Departure-Time">
						</div>
					</div>
					</span>
					<!-- end multicity -->
					<!-- round trip -->
					<div class="return-date-wrapper">
					<div class="inlable-wrap inline-block">
						<label>From</label>
						<input type="text">
						<img src="assets/img/from-blue.png" alt="place-from">
						<img src="assets/img/from-org.png" alt="place-from">
					</div>
					<div class="inlable-wrap inline-block">
						<label>To</label>
						<input type="text">
						<img src="assets/img/to-blue.png" alt="place-to">
						<img src="assets/img/to-org.png" alt="place-to">
					</div>
						<div class="inlable-wrap inline-block">
							<label>Return Date</label>
							<input type="text" id="returndate" bt-date 
								ng-model="searchObj.roots[1].departureDate"
								ng-required="searchObj.tripType == 'roundTrip'">
							<img src="assets/img/returndate-blue.png" alt="Departure-Date">
							<img src="assets/img/returndate-org.png" alt="Departure-Date">
						</div>
						<div class="inlable-wrap inline-block">
							<label>Return Time</label>
							<input type="text" id="returntime" bt-time
								ng-model="searchObj.roots[1].departureTime"
								ng-required="searchObj.tripType == 'roundTrip'">
							<img src="assets/img/returntime-blue.png" alt="Departure-Time">
							<img src="assets/img/returntime-org.png" alt="Departure-Time">
						</div>
					</div>
					<!-- end round trip -->
					<div class="inlable-wrap inline-block">
						<label>Traveller</label>
						<select ng-model="searchObj.traveller">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Nationality</label>
						<select ng-model="searchObj.nationality">
							<option value="Indian">Indian</option>
							<option value="Other Nationalities">Other Nationalities</option>
						</select>
					</div>
					<!-- advanced filter -->
					<div class="advanced-booking-engine"  ng-class="{'cls-active':searchType}">
						<div class="advanced-booking">
							<!-- <div class="inlable-wrap inline-block">
								<label>Price</label>
								<select ng-model="searchObj.price">
									<option value="10000000"> &lt; 10000000 </option>
									<option value="5000000"> &lt; 5000000 </option>
									<option value="2500000"> &lt; 2500000 </option>
									<option value="1000000"> &lt; 1000000 </option>
								</select>
							</div> -->
							<div class="inlable-wrap inline-block">
								<label>Seat</label>
								<select>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
								</select>
							</div>
						</div>
					</div>
					<center>
						<button type="button" ng-click="resetSearchForm()">Reset</button>
						<a href="javascript:void(0);" class="close-booking-tgl">Close</a>
						<button type="submit">Search</button>
					</center>
				</form>
			</div>
		</div>
	</div>
	<!-- Booking Area End -->
	<!-- About Section -->
	<section id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="custom-about-content">
						<!-- <img src="assets/img/jet.png" alt="JetSmart"> -->
		    			<h2 class="tag"><span class="head-line"></span>JetSmart <span class="head-line"></span></h2>
						<h3>What We Do?</h3>
						<p>Unserved and underserved airports, isolated factory sites with timings and privacy to suit your business activity can be managed easily by private aircraft or helicopter services out of a pool of business jets, helicopters available through JetSmart. JetSmart manages your jet charter from start to finish. JetSmart is technology driven and aviation focused. It also offers pre-qualified pre-vetted jet owners the ability to earn revenue by leveraging our reach.</p>
					</div>
                </div>
                <script type="text/javascript">
                		// WHAT WE DO Equal Height
						var mod_height = $('.custom-about-content').parent().height();
						$('.custom-about-image').css('height', mod_height);
                </script>
                <div class="col-md-6 col-sm-6">
					<div class="custom-about-image" style="background-image: url('assets/img/g650.jpg');"></div>
                </div>
		  	</div>
		</div>
	</section>
	<!-- About Section End -->
	<!-- Aircrafts Section -->
	<section id="aircrafts">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="custom-aircrafts-type">
						<h2 class="tag"><span class="head-line"></span>We Have<span class="head-line"></span></h2>
						<h3>300 + AIRCRAFT</h3>
						<p>We have a network of Charter operators with over 300 Aircrafts, which are available on our website. Choose and book the best aircraft that fits your need and budget.</p>
						<div class="owl-carousel owl-theme">
							<div class="item row">
								<div class="col-md-8 col-sm-8">
									<div class="type-of-jet">
										<h2>Heavy Jets</h2>
										<p>With a maximum capacity of 18 passengers and range of 6+ hours, heavy jets are the perfect aircraft for transcontinental flights. High ceilings allow for free, comfortable movement around the cabin. Heavy Jets also feature the convenience of a fully enclosed lavatory. Plus, a flight attendant is on board to accommodate every in-flight request. This is the ultimate in private air travel. Example <b>Global 6000, Falcon 7X, Linage 1000, CRJ 100, Gulfstream 450</b></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="type-of-jet-image">
										<img src="assets/img/heavy-jets.jpg" alt="heavy-jets">
									</div>
								</div>
							</div>
							<div class="item row">
								<div class="col-md-8 col-sm-8">
									<div class="type-of-jet">
										<h2>Super-Mid Jets</h2>
										<p>This relatively new category of aircraft has quickly become an industry favourite. The Super-Midsize Jet welcomes a maximum capacity of 9 passengers, roomier cabins than standard midsize aircraft and a fully enclosed lavatory, making it ideal for cross-country or transatlantic journeys. Examle <b>Falcon2000, Challenger 605, Gulfstream 200, Hawker 900XP</b></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="type-of-jet-image">
										<img src="assets/img/supermid-jets.jpg" alt="supermid-jets">
									</div>
								</div>
							</div>
							<div class="item row">
								<div class="col-md-8 col-sm-8">
									<div class="type-of-jet">
										<h2>Mid-size Jets</h2>
										<p>With a typical seating capacity of 7 to 8 passengers, ample room to move around the cabin and a fully enclosed lavatory, the Mid-Size Jet offers an outstanding value for 4-5 hour journeys. Example <b>Citation XL, Hawker 800XP, Learjet 45</b></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="type-of-jet-image">
										<img src="assets/img/midsize-jets.jpg" alt="midsize-jets">
									</div>
								</div>
							</div>
							<div class="item row">
								<div class="col-md-8 col-sm-8">
									<div class="type-of-jet">
										<h2>Light Jets</h2>
										<p>Light Jets offer a seating capacity of up to 8 passengers. Designed for shorter, regional flights, most Light Jets have limited movement throughout the cabin and are equipped with an enclosed or curtained lavatory. Example <b>Citation CJ2, Premier 1A, Phanom 300</b></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="type-of-jet-image">
										<img src="assets/img/light-jets.jpg" alt="light-jets">
									</div>
								</div>
							</div>
							<div class="item row">
								<div class="col-md-8 col-sm-8">
									<div class="type-of-jet">
										<h2>Turbo-props</h2>
										<p>Reliable and comfortable, this category of aircraft provides a great solution for shorter trips of 100 to 600 miles. Turbo-props are capable of carrying typically up 9 passengers with lack of baggage capacity. Example <b>Kingair C90, Kingair B200, Kingair B350, Piaggio Avanti</b></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="type-of-jet-image">
										<img src="assets/img/turbo-props.jpg" alt="turbo-props">
									</div>
								</div>
							</div>
						</div>
						<script>
							$(document).ready(function() {
							var owl = $('.owl-carousel.owl-theme');
							owl.owlCarousel({
								margin: 0,
								nav: false,
								center:false,
								autoplay: true,	
								loop: true,
								responsive: {
								  0: {
									items: 1
								  },
								  600: {
									items: 1
								  },
								  1000: {
									items: 1
								  }
								}
								})
							});
						</script>
						<!-- <div>
							<img src="assets/img/light-size-jet.png" alt="light-size-jet">
							<span class="type-of">LIGHT SIZE JET</span>
						</div>
						<div>
							<img src="assets/img/mid-size-jet.png" alt="mid-size-jet">
							<span class="type-of">MID SIZE JET</span>
						</div>
						<div>
							<img src="assets/img/heavy-size-jet.png" alt="heavy-size-jet">
							<span class="type-of">HEAVY JET</span>
						</div>
						<div>
							<img src="assets/img/turbo-size-jet.png" alt="turbo-size-jet">
							<span class="type-of">TURBO SIZE JET</span>
						</div> -->
					</div>
                </div>
		  	</div>
		</div>
	</section>
	<!-- Aircrafts Section End -->
	<!-- Process Section -->
	<section id="process">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="custom-work-process-heading">
						<h2 class="tag"><span class="head-line"></span>Our Work<span class="head-line"></span></h2>
						<h3>Process</h3>						
						<center><img src="assets/img/process.png" alt="process"></center>
						<!-- <ul class="step-by-step-process">
							<li>
								<div><i class="fa fa-search" aria-hidden="true"></i> Search<span class="process-tag">Search offers online</span></div>
							</li>
							<li>
								<div><i class="fa fa-check-square-o" aria-hidden="true"></i> Check Trip Price<span class="process-tag">Check trip price</span></div>
							</li>
							<li>
								<div><i class="fa fa-bookmark" aria-hidden="true"></i> Book Online<span class="process-tag">Secure Payment</span></div>
							</li>
							<li>
								<div><i class="fa fa-plane" aria-hidden="true"></i> Get Ready to Fly<span class="process-tag">Enjoy Joyful Experience</span></div>
							</li>
						</ul> -->
					</div>
                </div>				
		  	</div>
		</div>
	</section>
	<!-- Process Section End -->
	<!-- Features Section -->
	<section id="welcome-box">
		<div class="container-fluid">
			<div class="row">
				<h2 class="tag"><span class="head-line"></span>JetSmart<span class="head-line"></span></h2>
				<h3>Provides</h3>				
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-6.jpg');">
						<div class="welcome-content">
							<h4>Simplified Yet Powerful</h4>
							<p>Technology driven solutions backed by an experienced team and financial backing focused on your success.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-2.jpg');">
						<div class="welcome-content">
							<h4>Concierge</h4>
							<p>Our staff remain at your disposal before, during and after your experience.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-3.jpg');">
						<div class="welcome-content">
							<h4>Innovative Technology</h4>
							<p>Jet charter is a notoriously in-efficient industry and our custom in-house technology streamlines the process more than anybody else.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-4.png');">
						<div class="welcome-content">
							<h4>Rigorously Inspected Equipment</h4>
							<p>Every plane is inspected, certified, monitored and checked by DGCA, government officials and crew.</p>
						</div>
					</div>
				</div>	
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-1.png');">
						<div class="welcome-content">
							<h4>Personalized Catering</h4>
							<p>Our premium catering options cover all dietary preferences and requirements sourced from specialized service providers.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-5.jpg');">
						<div class="welcome-content">
							<h4>Fast Track Security</h4>
							<p>Escorted through security at exclusive areas for an easy onward experience.</p>
						</div>
					</div>
				</div>			
		  	</div>
		</div>
	</section>
	<!-- Features Section End -->
	<!-- Testimonial Section -->
	<section id="testimonial">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="testimonial-wrapper">
						<h2 class="tag"><span class="head-line"></span>As Seen On<span class="head-line"></span></h2>
						<h3>Testimonial</h3>
						<p>
							<a href="http://www.ainonline.com/aviation-news/business-aviation/2016-05-09/indian-charter-group-JetSmart-launches-online-booking" target="_blank"><img src="assets/img/ain.jpg" alt="ain"></a>
							<a href="https://www.forbes.com/sites/krnkashyap/2016/10/28/indias-fast-growing-aviation-market-spurs-boom-in-private-charter-jet-startups/" target="_blank"><img src="assets/img/forbers.png" alt="forbers"></a>
							<a href="https://www.youtube.com/watch?v=k9tx9yNm2uc&feature=youtu.be" target="_blank"><img src="assets/img/cnbc.png" alt="cnbc"></a>
							<a href="http://economictimes.indiatimes.com/small-biz/startups/JetSmart-now-charter-a-seat-in-business-jet-and-pay-in-emis/articleshow/52050898.cms" target="_blank"><img src="assets/img/et.png" alt="et"></a>
						</p>
					</div>
                </div>
		  	</div>
		</div>
	</section>
	<!-- Testimonial Section End -->
	<footer>
		<div class="bottom-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<p class="member-of">
						<small>Member of</small><br>
						<img src="assets/img/baoa.png">
						</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<ul>
							<li><a href="about.html">About</a></li>
							<li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
							<li><a href="disclaimer.html">Disclaimer</a></li>
							<li><a href="policy.html">Privacy Policy</a></li>
							<li><a href="contact.html">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3">
						<ul class="social-links">
							<li><a href="https://www.facebook.com/jetsmart.in/?fref=ts&ref=br_tf" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/jet_smart/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-12">
						<p class="copyright center">© 2017 JetSmart.in  All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		// Menu Toggle
		$('a.mobile-tgl').click(function(){
			$('body').toggleClass('active-menu');
		});
		$('a.mobile-tgl, ul.menu').click(function(e){
			e.stopPropagation();	
		});
		$('body').click(function(){
			$('body').removeClass('active-menu');
		});
	</script>