<form ng-submit="createInquiry()" ng-hide="isDetailsSubmit || isAllOk">
	<fieldset>
		<lagend>Contact details</lagend>
		<select class="form-group" ng-model="contactDetails.title" required>
			<option value="Mr.">Mr.</option>
			<option value="Mrs.">Mrs.</option>
			<option value="Ms.">Ms.</option>
			<option value="Dr.">Dr.</option>
		</select>
		<input type="text" name="" ng-model="contactDetails.name" 
			placeholder="full name" required>
		<input type="email" name="" ng-model="contactDetails.email" 
			placeholder="email">
		<input type="number" name="" ng-model="contactDetails.phone_number"
			placeholder="contact number" required>
		<input type="number" name="" ng-model="contactDetails.alternate_number" 
			placeholder="alternate number" required>
	</fieldset>

	<fieldset>Passenger Details</fieldset>
	<fieldset ng-repeat="x in passengerDetails">
		<lagend>{{$index+1}}</lagend>
		<select ng-model="x.title" required>
			<option value="Mr.">Mr.</option>
			<option value="Mrs.">Mrs.</option>
			<option value="Ms.">Ms.</option>
			<option value="Dr.">Dr.</option>
		</select>
		<input type="text" name="" ng-model="x.name" placeholder="full name" required>
		<input type="number" name="" ng-model="x.age" placeholder="age">
		<select ng-model="x.food" required>
			<option value="veg">veg</option>
			<option value="non veg">non veg</option>
		</select>
		<select ng-model="x.nationlity" required>
			<option value="indian">Indian</option>
			<option value="other">other</option>
		</select>
		<input type="text" name="" ng-model="x.passportNumber" placeholder="passport number" required>
	</fieldset>

	<button type="submit">Submit</button>
</form>

<div ng-show="isDetailsSubmit">

	<p>contact person <br> {{inqueryObj.contact.title +' '+ inqueryObj.contact.name}} <br> {{inqueryObj.contact.email}} {{inqueryObj.contact.phone_number}} <br> {{inqueryObj.contact.alternate_number}} </p>
	<br>
	<p ng-repeat="x in inqueryObj.pessanger_detail"> passenger <br> {{$index+1}} <br> {{x.title +' '+x.name}} <br> {{x.age}} <br> {{x.food}} {{x.nationlity}} <br> {{x.passportNumber}} </p>
	<br>
	<p>
		Aircraft
		{{aircraft.documents.jet_name}} <br> {{aircraft.documents.aircraft_type}}
	</p>

	<button ng-click="submitInquiry()">All fine</button>
</div>

<div ng-show="isAllOk">

	<h1>Booking Request Submitted Successfully!</h1>
	<p> Booking Reference Number : {{booking.number}} <br> Booking Date : {{booking.time}} </p>

	<p>In case of any clarification, contact +91 998 000 2005 or contact@jetsmart.in. <br>
	Please mention the Transaction ID for future communication</p>
</div>