<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->
            <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">Aircrafts</h4>
    </div>
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->
    <div class="row" style="padding: 0 15px; ">
        <div class="col-md-12"><h2>Filter</h2></div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="jetSearch.jet_name" type="text" class="form-control" placeholder="Search by Jet Name">
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Passangers</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in aircrafts | filter:jetSearch">
                    <td>{{x.jet_name}}</td>
                    <td>{{x.passangers}}</td>
                    <td>{{x.status}}</td>
                    <td><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <!-- <tr class="even gradeC">
                    <td>Trident</td>
                    <td>Internet Explorer 5.0</td>
                    <td>Win 95+</td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr class="odd gradeA">
                    <td>Trident</td>
                    <td>Internet Explorer 5.5</td>
                    <td>Win 95+</td>
                    <td><a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr class="even gradeA">
                    <td>Trident</td>
                    <td>Internet Explorer 6</td>
                    <td>Win 98+</td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr> -->

            </tbody>
        </table>
    </div>
</div>
<!-- end panel-->
<script type="text/ng-template" id="aircraft-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Aircraft</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="aircraftForm" ng-submit="submitForm(aircraftForm.$valid)" novalidate>

                    <!-- Multiple -->

                    <div class="form-group" style="height: 40px;line-height: 20px;">
                        <label class="col-md-3 control-label">Aircraft Images</label>
                        <div class="col-md-9">
                        <input type="file" name="file" id="filesAirCraft" class="inputfile" ng-disabled="type == 'view'"  data-multiple-caption="{count} files selected" multiple image-uploader file-model = "myFile"/>
                        <label for="filesAirCraft" id="upload-content" image-uploader1>Choose a file</label>
                        <button ng-click="uploadFile();" ng-disabled="type == 'view'" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload</button>
                        <span id="spinningSquaresG" ng-show="isFileUploading">
                            <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
                        </span>
                            <!-- <button ng-click>upload</button> -->
                            <!-- <droplet ng-model="interface"></droplet> -->
                            <!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">

                            </droplet> -->
                        </div>
                    </div>
                    <div class="form-group" style="height: 100px;line-height: 100px; margin-top:10px">
                        <label class="col-md-3 control-label">Image Gallary</label>
                        <div class="col-md-9 " style="overflow-x: auto;overflow-y: hidden;">
                            <div class="cls-gallary">
                                <div class="gallary-img" ng-repeat="i in new.image_gallary track by $index">
                                    <img ng-src="{{i}}" class="thumb">
                                    <a ng-hide="type == 'view'" class="btn btn-xs btn-icon btn-circle btn-danger delete-img" data-click="panel-remove" ng-click="removeFile(x)"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="gallary-img" ng-repeat="i in new.tempImages track by $index">
                                    <img ng-src="{{i.file}}" class="thumb">
                                    <a ng-hide="type == 'view'" class="btn btn-xs btn-icon btn-circle btn-danger delete-img" data-click="panel-remove" ng-click="removeFile(i, $index)"><i class="fa fa-times"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':aircraftForm.jet_name.$valid && !aircraftForm.jet_name.$pristine,'has-error':aircraftForm.jet_name.$invalid && !aircraftForm.jet_name.$pristine}">
                        <label class="col-md-3 control-label">Aircraft Name</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="text" name="jet_name" class="form-control" ng-model="new.jet_name" placeholder="Enter the name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Aircraft Status</label>
                        <div class="col-md-9">
                            <select ng-disabled="type == 'view'" class="form-control" ng-model="new.status">
                                <option value="active">active</option>
                                <option value="inactive">inactive</option>
                            </select>
                        </div>
                    </div>
                    <!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">

                            </droplet> -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Aircraft Type</label>
                        <div class="col-md-9">
                            <select ng-disabled="type == 'view'" class="form-control" ng-model="new.aircraft_type">
                                <option value="HEAVY JET">Heavy Jet</option>
                                <option value="SUPER MID JET">Super-Mid Jets</option>
                                <option value="MID JET">Mid-Size Jets</option>
                                <option value="LIGHT JET">Light Jets</option>
                                <option value="TP">Turbo Props</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Aircraft Max Range</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" name="" ng-model="new.aircraft_max_range" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Crew Charges</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" name="" ng-model="new.crew_charges" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Minimum Distance</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" name="" ng-model="new.minimum_distance" required="">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':aircraftForm.baggage.$valid && !aircraftForm.baggage.$pristine,'has-error':aircraftForm.baggage.$invalid && !aircraftForm.baggage.$pristine}">
                        <label class="col-md-3 control-label">Baggage</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" name="baggage" ng-model="new.baggage" required="">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':aircraftForm.pilot.$valid && !aircraftForm.pilot.$pristine,'has-error':aircraftForm.pilot.$invalid && !aircraftForm.pilot.$pristine}">
                        <label class="col-md-3 control-label">Number of Pilots</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" name="pilot" ng-model="new.pilot" required="">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':aircraftForm.seats.$valid && !aircraftForm.seats.$pristine,'has-error':aircraftForm.seats.$invalid && !aircraftForm.seats.$pristine}">
                        <label class="col-md-3 control-label">Number of Seats</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" ng-model="new.seats" name="seats">
                        </div>
                    </div>
                    <!-- <div class="form-group" ng-class="{'has-success':aircraftForm.seats.$valid && !aircraftForm.seats.$pristine,'has-error':aircraftForm.seats.$invalid && !aircraftForm.seats.$pristine}">
                        <label class="col-md-3 control-label">Number of Seats</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" ng-model="newAircraft.seats">
                        </div>
                    </div> -->
                    <div class="form-group" ng-class="{'has-success':aircraftForm.passangers.$valid && !aircraftForm.passangers.$pristine,'has-error':aircraftForm.passangers.$invalid && !aircraftForm.passangers.$pristine}">
                        <label class="col-md-3 control-label">Number of Passangers</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" name="passangers" ng-model="new.passangers" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Facilities</label>
                        <div class="col-md-9">
                            <div class="checkbox">
                                <label style="margin-right: 15px;">
                                    <input ng-disabled="type == 'view'" type="checkbox" value=""
                                        ng-model="new.facilities.wifi"
                                        ng-checked="new.facilities.wifi == 'YES'">
                                    wifi
                                </label>
                                <label style="margin-right: 15px;">
                                    <input ng-disabled="type == 'view'" type="checkbox" value=""
                                        ng-model="new.facilities.lavatory"
                                        ng-checked="new.facilities.lavatory == 'YES'">
                                    Lavatory
                                </label>
                                <label style="margin-right: 15px;">
                                    <input ng-disabled="type == 'view'" type="checkbox" value=""
                                        ng-model="new.facilities.flight_attendence"
                                        ng-checked="new.facilities.flight_attendence == 'YES'">
                                    Flight Attendies
                                </label>
                                <label style="margin-right: 15px;">
                                    <input ng-disabled="type == 'view'" type="checkbox" value=""
                                        ng-model="new.facilities.satellite_phone"
                                        ng-checked="new.facilities.satellite_phone == 'YES'">
                                    Satellite Phone
                                </label>
                                <label style="margin-right: 15px;">
                                    <input ng-disabled="type == 'view'" type="checkbox" value=""
                                        ng-model="new.facilities.baggage"
                                        ng-checked="new.facilities.baggage == 'YES'">
                                    Baggage
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Speed of Aircraft</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" ng-model="new.speed">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Weight of Aircraft</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" ng-model="new.weight">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <button ng-hide="type == 'view'" type="submit" ng-disabled="aircraftForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                        </div>
                    </div>
                </form>
    </div>
</div>
</script>
