<div class="row">
	<div class="col-md-12">
		<div class="img-box">
			<img src="" alt="logo">
		</div>
	</div>
	<div class="col-md-12" style="text-align: center; background: #000; color:#fff; font-weight: bold">
		NAME
	</div>
	<div class="col-md-4">User ID</div>
	<div class="col-md-4">AOP No.</div>
	<div class="col-md-4">Email</div>
	<div class="col-md-12">Contact No.</div>
	<div class="col-md-12">Fax</div>
	<div class="col-md-4">Address</div>
	<div class="col-md-4">City</div>
	<div class="col-md-4">State</div>
</div>
<div class="row">
	<uib-accordion>
		<!--  -->
		<div uib-accordion-group class="panel-default" is-open="">
			<uib-accordion-heading>Aircraft (30)<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></uib-accordion-heading>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
		<!--  -->
		<div uib-accordion-group class="panel-default" is-open="">
			<uib-accordion-heading>Key Person (1)<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></uib-accordion-heading>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
		<!--  -->
		<div uib-accordion-group class="panel-default" is-open="">
			<uib-accordion-heading>Sale / Revenue<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></uib-accordion-heading>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
		<!--  -->
		<div uib-accordion-group class="panel-default" is-open="">
			<uib-accordion-heading>Sales Call / Sales Visit Detail<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></uib-accordion-heading>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
	</uib-accordion>
</div>
<style type="text/css">
	.row > div{
		padding: 8px !important;
	}
	.img-box{
		display: block;
		width: 100px;
		height: 100px;
		background: #ccc;
		border-radius: 50%;
		border: 3px solid #fff;
		margin: 0 auto;
		overflow: hidden;
	}
	.img-box img{
		width: 100%;
	}
	.panel-title > a, .panel-title > a:hover,.panel-title > a:focus,.panel-title > a:active{
		background: #333 !important;
		color: #fff !important;
		outline: none !important;
		font-weight: bold;
		border-radius: 5px;
	}
</style>