<!DOCTYPE html>
<html lang="en" ng-app="jetSmart">
<head>
	<title>JetSmart</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/stylesheet.css">
	<link rel="stylesheet" href="assets/css/jquery-confirm.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- favicon -->
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery-confirm.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/video.js"></script>
	<script src="assets/js/headroom.min.js"></script>

	<!-- Owl Stylesheets -->
	<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
	<!-- Owl javascript -->
    <!-- <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script> -->
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>

    <!-- jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angucomplete-alt/2.4.1/angucomplete-alt.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    
    <script src="assets/js/app.js"></script>

    <!-- directive -->
    <script src="assets/js/directives/booking-form.js"></script>
    <script src="assets/js/directives/owl-slider.js"></script>

    <!-- services -->
    <script src="assets/js/services/search-service.js"></script>
    <script src="assets/js/services/user.js"></script>
    <script src="assets/js/services/pdf.js"></script>

    <!-- controller -->
    <script src="assets/js/controller/search-ctrl.js"></script>
    <script src="assets/js/controller/home-ctrl.js"></script>
    <script src="assets/js/controller/details-ctrl.js"></script>
    <script src="assets/js/controller/global-ctrl.js"></script>

    <!-- filters -->
    <script src="assets/js/filters/search-filter.js"></script>

    <style type="text/css">
    	.form-control{
    		border-radius: 0;
    		height: auto;
    	}
    </style>

    <script>
		$(document).ready(function() {
		var owl = $('.owl-carousel.owl-theme');
		owl.owlCarousel({
			margin: 0,
			nav: false,
			center:false,
			autoplay: true,	
			loop: true,
			responsive: {
			  0: {
				items: 1
			  },
			  600: {
				items: 1
			  },
			  1000: {
				items: 1
			  }
			}
			})
		});
	</script>
</head>
<body ng-class="{'search-page-body-class':isActive('/search')}" ng-controller="globalCtrl"><!-- ng-click="toggleMenu = false" -->
	<div ui-view="mainView"></div>
	

	<!-- Datepicker script -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-material-datetimepicker.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="assets/js/moment-with-locales.min.js"></script>
	<script src="assets/js/bootstrap-material-datetimepicker.js"></script>
</body>
</html>
