<div class="row">
                <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">Add User</h4>
            </div>
            <div class="panel-body">
<!-- <form id="uploadForm" enctype="multipart/form-data" action="/media/upload" method="post">

      <input type="file" name="imgs" id="filesAirCraft" class="inputfile"  data-multiple-caption="{count} files selected" multiple image-uploader/>
                        <label for="filesAirCraft" id="upload-content" image-uploader1>Choose a file</label>
      <input type="submit" value="Upload Image" name="submit">

    </form> -->


                <form class="form-horizontal" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

                    <div class="form-group"
                    	ng-class="{'has-success':userForm.user_name.$valid && !userForm.user_name.$pristine,
                    				'has-error':userForm.user_name.$invalid && !userForm.user_name.$pristine}">
                        <label class="col-md-3 control-label">Username</label>
                        <div class="col-md-9 ">
                            <input type="text" name="user_name" class="form-control" ng-model="newUser.user_name" required>
                        </div>
                    </div>

                    <div class="form-group"
                    	ng-class="{'has-success':userForm.first_name.$valid && !userForm.first_name.$pristine,
                    				'has-error':userForm.first_name.$invalid && !userForm.first_name.$pristine}">
                        <label class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9 ">
                            <input type="text" name="first_name" class="form-control" ng-model="newUser.first_name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Middle Name</label>
                        <div class="col-md-9 ">
                            <input type="text" name="middle_name" class="form-control" ng-model="newUser.middle_name">
                        </div>
                    </div>

                    <div class="form-group"
                    	ng-class="{'has-success':userForm.last_name.$valid && !userForm.last_name.$pristine,
                    				'has-error':userForm.last_name.$invalid && !userForm.last_name.$pristine}">
                        <label class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-9 ">
                            <input type="text" name="last_name" class="form-control" ng-model="newUser.last_name" required>
                        </div>
                    </div>

                    <div class="form-group"
                    	ng-class="{'has-success':userForm.local_address1.$valid && !userForm.local_address1.$pristine,
                    				'has-error':userForm.local_address1.$invalid && !userForm.local_address1.$pristine}">
                        <label class="col-md-3 control-label">Address Line 1</label>
                        <div class="col-md-9 ">
                            <input type="text" name="local_address1" class="form-control" ng-model="newUser.local_address1" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Address Line 2</label>
                        <div class="col-md-9 ">
                            <input type="text" name="local_address2" class="form-control" ng-model="newUser.local_address2">
                        </div>
                    </div>

                    <div class="form-group"
                    	ng-class="{'has-success':userForm.pin_code.$valid && !userForm.pin_code.$pristine,
                    				'has-error':userForm.pin_code.$invalid && !userForm.pin_code.$pristine}">
                        <label class="col-md-3 control-label">Pincode</label>
                        <div class="col-md-9 ">
                            <input type="number" name="pin_code" class="form-control" ng-model="newUser.pin_code" required>
                        </div>
                    </div>

                    <div class="form-group"
                    	ng-class="{'has-success':userForm.email_id.$valid && !userForm.email_id.$pristine,
                    				'has-error':userForm.email_id.$invalid && !userForm.email_id.$pristine}">
                        <label class="col-md-3 control-label">Email</label>
                        <div class="col-md-9 ">
                            <input type="email" name="email_id" class="form-control" ng-model="newUser.email_id" required>
                        </div>
                    </div>

                    <div class="form-group"
                    	ng-class="{'has-success':userForm.phone_number.$valid && !userForm.phone_number.$pristine,
                    				'has-error':userForm.phone_number.$invalid && !userForm.phone_number.$pristine}">
                        <label class="col-md-3 control-label">Phone Number</label>
                        <div class="col-md-9 ">
                            <input type="number" name="phone_number" class="form-control" ng-model="newUser.phone_number" required>
                        </div>
                    </div>

                    <div class="form-group"
                    	ng-class="{'has-success':userForm.password.$valid && !userForm.password.$pristine,
                    				'has-error':userForm.password.$invalid && !userForm.password.$pristine}">
                        <label class="col-md-3 control-label">Password</label>
                        <div class="col-md-9 ">
                            <input type="password" name="password" class="form-control" ng-model="newUser.password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <button type="submit" ng-disabled="userForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
</div>

<script type="text/ng-template" id="journey-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">Journey</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
            <div class="form-group" ng-class="{'has-success':addEditForm.countryName.$valid && !addEditForm.countryName.$pristine,'has-error':addEditForm.countryName.$invalid && !addEditForm.countryName.$pristine}">
                <label class="col-md-3 control-label">From Airport/City</label>
                <div class="col-md-9 cls-autocomplete">
                    <input type="text" name="countryName" class="form-control" ng-model="new.countryName" placeholder="Enter the country name" ng-disabled="Title==''" required ng-keypress="hideSearch==false;">
                    <div class="autocomplete-container" ng-if="new.countryName.length>0 && !hideSearch">
                        <ul>
                            <li ng-repeat="airport in airports | filter : new.countryName" ng-click="selectFromAirport()"><span>{{airport.name}}</span>,<span>{{airport.city}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':addEditForm.countryName.$valid && !addEditForm.countryName.$pristine,'has-error':addEditForm.countryName.$invalid && !addEditForm.countryName.$pristine}">
                <label class="col-md-3 control-label">From Date</label>
                <div class="col-md-9">
                    <div class="dropdown" ng-class="{'open':showFromDate}">
                      <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" ng-click="showFromDate=!showFromDate">
                        <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                      </ul>
                    </div>
                </div>
                
            </div>
            <div class="form-group" ng-class="{'has-success':addEditForm.countryCode.$valid && !addEditForm.countryCode.$pristine,'has-error':addEditForm.countryCode.$invalid && !addEditForm.countryCode.$pristine}">
                <label class="col-md-3 control-label">To Airport/City</label>
                <div class="col-md-9">
                    <input type="text" name="countryCode" class="form-control" ng-model="new.countryCode" placeholder="Enter the name" ng-disabled="Title==''" required>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':addEditForm.countryName.$valid && !addEditForm.countryName.$pristine,'has-error':addEditForm.countryName.$invalid && !addEditForm.countryName.$pristine}">
                <label class="col-md-3 control-label">To Date</label>
                <div class="col-md-9">
                    <div class="dropdown" ng-class="{'open':showToDate}">
                      <a class="dropdown-toggle" id="dropdown3" role="button" ng-click="showToDate=!showToDate">
                        <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }"/>
                      </ul>
                    </div>
                </div>
                
            </div>
            <div class="form-group" >
                <label class="col-md-3 control-label">Currency Code</label>
                <div class="col-md-9">
                    <input type="text" name="currencyCode" class="form-control" ng-model="new.currencyCode" placeholder="Enter the name" ng-disabled="Title==''" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</script>
   
