<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->

            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
            
        </div>
        <h4 class="panel-title">Users</h4>
    </div>
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->
    <div class="panel-body">

        <table id="data-table" class="table table-striped table-bordered">

            <thead>
                <tr>
                    <th>username</th>
                    <th>email</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in userList">
                    <td>{{x.user_name}}</td>
                    <td>{{x.email_id}}</td>
                    <td>{{x.is_active}}</td>
                    <td><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                    <td><a ng-click="deleteUser(x._id)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<!-- end panel-->
<script type="text/ng-template" id="user-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} User</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

            <div class="form-group"
                ng-class="{'has-success':userForm.user_name.$valid && !userForm.user_name.$pristine,
                            'has-error':userForm.user_name.$invalid && !userForm.user_name.$pristine}">
                <label class="col-md-3 control-label">Username</label>
                <div class="col-md-9 ">
                    <input type="text" name="user_name" class="form-control" ng-model="newUser.user_name" ng-disabled="Title == ''" required>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':userForm.first_name.$valid && !userForm.first_name.$pristine,
                            'has-error':userForm.first_name.$invalid && !userForm.first_name.$pristine}">
                <label class="col-md-3 control-label">First Name</label>
                <div class="col-md-9 ">
                    <input type="text" name="first_name" class="form-control" ng-model="newUser.first_name" ng-disabled="Title == ''" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Middle Name</label>
                <div class="col-md-9 ">
                    <input type="text" name="middle_name" class="form-control" ng-disabled="Title == ''" ng-model="newUser.middle_name">
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':userForm.last_name.$valid && !userForm.last_name.$pristine,
                            'has-error':userForm.last_name.$invalid && !userForm.last_name.$pristine}">
                <label class="col-md-3 control-label">Last Name</label>
                <div class="col-md-9 ">
                    <input type="text" name="last_name" class="form-control" ng-disabled="Title == ''" ng-model="newUser.last_name" required>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':userForm.local_address1.$valid && !userForm.local_address1.$pristine,
                            'has-error':userForm.local_address1.$invalid && !userForm.local_address1.$pristine}">
                <label class="col-md-3 control-label">Address Line 1</label>
                <div class="col-md-9 ">
                    <input type="text" name="local_address1" class="form-control" ng-disabled="Title == ''" ng-model="newUser.local_address1" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Address Line 2</label>
                <div class="col-md-9 ">
                    <input type="text" name="local_address2" class="form-control" ng-disabled="Title == ''" ng-model="newUser.local_address2">
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':userForm.pin_code.$valid && !userForm.pin_code.$pristine,
                            'has-error':userForm.pin_code.$invalid && !userForm.pin_code.$pristine}">
                <label class="col-md-3 control-label">Pincode</label>
                <div class="col-md-9 ">
                    <input type="number" name="pin_code" class="form-control" ng-disabled="Title == ''" ng-model="newUser.pin_code" required>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':userForm.email_id.$valid && !userForm.email_id.$pristine,
                            'has-error':userForm.email_id.$invalid && !userForm.email_id.$pristine}">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-9 ">
                    <input type="email" name="email_id" class="form-control" ng-disabled="Title == ''" ng-model="newUser.email_id" required>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':userForm.phone_number.$valid && !userForm.phone_number.$pristine,
                            'has-error':userForm.phone_number.$invalid && !userForm.phone_number.$pristine}">
                <label class="col-md-3 control-label">Phone Number</label>
                <div class="col-md-9 ">
                    <input type="number" name="phone_number" class="form-control" ng-disabled="Title == ''" ng-model="newUser.phone_number" required>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':userForm.password.$valid && !userForm.password.$pristine,
                            'has-error':userForm.password.$invalid && !userForm.password.$pristine}">
                <label class="col-md-3 control-label">Password</label>
                <div class="col-md-9 ">
                    <input type="password" name="password" class="form-control" ng-disabled="Title == ''" ng-model="newUser.password" required>
                </div>
            </div>

            <hr>

            <legend>User Access</legend>
            <div class="form-group">
                <label class="col-md-3 control-label">Aircraft</label>
                <div class="col-md-9 ">
                    <label>
                        <input type="checkbox" ng-model="newUser.access_level.Aircraft.viewAircraft">View
                    </label>
                    <label>
                        <input type="checkbox" ng-model="newUser.access_level.Aircraft.editAircraft">Edit
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Airport</label>
                <div class="col-md-9 ">
                    <label>
                        <input type="checkbox" ng-model="newUser.access_level.Airport.viewAirport">View
                    </label>
                    <label>
                        <input type="checkbox" ng-model="newUser.access_level.Airport.editAirport">Edit
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-hide="Title==''" ng-disabled="userForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
</script>