<div class="cst-cards">
	<div class="cst-card">
		<div class="static">
			{{Stact.agent}}
		</div>
		<div class="heading">
			Number of Agents
		</div>
	</div>
	<div class="cst-card">
		<div class="static">
			{{Stact.bookingCount}}
		</div>
		<div class="heading">
			Number of Bookings
		</div>
	</div>
	<div class="cst-card">
		<div class="static">
			{{Stact.user}}
		</div>
		<div class="heading">
			Number of Users
		</div>
	</div>
<!-- 	<div class="cst-card cst-card-auto">
	      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
	</div> -->
</div>

<style type="text/css">
	.cst-cards{
		display: flex;
		margin-bottom: 30px;
	}
	.cst-cards .cst-card{
		background: #fff;
		display: flex;
	    flex-flow: column;
	    vertical-align: middle;
		width: 30%;
		height: auto;
		padding: 10px;
		margin-right: 5%;
		text-align: center;
		border-radius: 5px;
		box-shadow: 0 5px 15px rgba(0,0,0,0.25);
	}
	.cst-cards .cst-card.cst-card-auto{
		width: auto;
	}
	.cst-cards .cst-card:last-child{
		margin-right: 0;
	}
	.cst-cards .cst-card .static{
		font-size: 50px;
		display: block;
		font-weight: bold;
		letter-spacing: 3px;
		opacity: 0.75;
	}
	.cst-cards .cst-card .heading{
		display: block;
	    font-size: 18px;
	    font-weight: bold;
	    letter-spacing: 1px;
	}
</style>