<header class="dashboard-header">
	<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand"><span class="navbar-logo"><i class="ion-ios-cloud"></i></span> <b>JetSmart</b> Admin</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter keyword">
								<button type="submit" class="btn btn-search"><i class="ion-ios-search-strong"></i></button>
							</div>
						</form>
					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle icon">
							<i class="ion-ios-bell"></i>
							<span class="label">5</span>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="ion-ios-close-empty media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-1.jpg" class="media-object" alt=""></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt=""></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="ion-ios-plus-empty media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="ion-ios-email-outline media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
						</ul>
					</li>
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="user-image online">
								<img src="assets/img/user-13.jpg" alt="">
							</span>
							<span class="hidden-xs">Adam Schwartz</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="javascript:;">Edit Profile</a></li>
							<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
							<li><a href="javascript:;">Calendar</a></li>
							<li><a href="javascript:;">Setting</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
</header>
<div id="sidebar" class="sidebar" ng-show="userType=='admin'">
			<!-- begin sidebar scrollbar -->
	<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div data-scrollbar="true" data-height="100%" data-init="true" style="overflow: hidden; width: auto; height: 100%;">
		<!-- begin sidebar user -->
		<ul class="nav">
			<li class="nav-profile">
				<div class="image">
					<a href="javascript:;"><img src="assets/img/user-13.jpg" alt=""></a>
				</div>
				<div class="info">
					{{username}}
					<!-- <small>Front end developer</small> -->
				</div>
			</li>
		</ul>
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="nav-header">Navigation</li>
			<li class="has-sub" ng-class={'active':li_active=="Dashboard"}>
				<a ui-sref="main.dashboard" ng-click="li_dash=!li_dash; li_active='Dashboard'">
				    <!-- <b class="caret pull-right"></b> -->
				    <i class="ion-ios-pulse-strong"></i>
				    <span>Dashboard</span>
			    </a>
				<!-- <ul class="sub-menu" ng-if="li_dash">
				    <li class="active"><a href="index.html">Dashboard v1</a></li>
				    <li><a href="index_v2.html">Dashboard v2</a></li>
				</ul> -->
			</li>
			<li class="has-sub"
				ng-class="{'active':li_active=='Aircrafts'}">
				<a ng-click="li_air=!li_air; li_active='Aircrafts'">
				<b class="caret pull-right"></b>
					<!-- <span class="badge pull-right">10</span> -->
					<!-- <i class="ion-jet bg-blue"></i>  -->
					<i class="ion-jet"></i>

					<span>Aircrafts</span>
				</a>
				<ul class="sub-menu" ng-if="li_air">
				    <li><a ui-sref="main.aircraft.list">All</a></li>
				    <li><a ui-sref="main.aircraft.add">Add</a></li>
				    <!-- <li><a ui-sref="main.aircraft.Add">Add</a></li> -->
				    <!-- <li><a href="email_compose.html">Compose</a></li>
				    <li><a href="email_detail.html">Detail</a></li> -->
				</ul>
			</li>
			<li class="has-sub"  ng-class={'active':li_active=="Master"}>
				<a ng-click="li_master=!li_master; li_active='Master'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<!-- <span class="badge pull-right">10</span> -->
					<!-- <i class="ion-jet bg-blue"></i>  -->

					<span>Master</span>
				</a>
				<ul class="sub-menu" ng-if="li_master">
				    <li><a ui-sref="main.master.country">Country</a></li>
				    <li><a ui-sref="main.master.region">Region</a></li>
				    <li><a ui-sref="main.master.state">State</a></li>
				    <li><a ui-sref="main.master.city">City</a></li>
				    <!-- <li><a ui-sref="main.master.dCity">Destination City</a></li> -->
				    <!-- <li><a ui-sref="main.master.currency">Currency</a></li> -->
				    <li><a ui-sref="main.master.branch">Branch</a></li>
				    <li><a ui-sref="main.master.airport">Airport</a></li>
				    <li><a ui-sref="main.master.distance({page_no:1})">Airport Distance</a></li>
				    <!-- <li><a ui-sref="main.aircraft.add">Login</a></li> -->
				    <!-- <li><a ui-sref="main.aircraft.Add">Add</a></li> -->
				    <!-- <li><a href="email_compose.html">Compose</a></li>
				    <li><a href="email_detail.html">Detail</a></li> -->
				</ul>
			</li>
			<li class="has-sub"  ng-class={'active':li_active=="li_agent"}>
				<a ng-click="li_agent=!li_agent; li_active='li_agent'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<!-- <span class="badge pull-right">10</span> -->
					<!-- <i class="ion-jet bg-blue"></i>  -->

					<span>Agent</span>
				</a>
				<ul class="sub-menu" ng-if="li_agent">
				    <li><a ui-sref="main.agent.add">Add</a></li>
				    <li><a ui-sref="main.agent.list">List</a></li>
				    <!-- <li><a ui-sref="main.aircraft.add">Login</a></li> -->
				    <!-- <li><a ui-sref="main.aircraft.Add">Add</a></li> -->
				    <!-- <li><a href="email_compose.html">Compose</a></li>
				    <li><a href="email_detail.html">Detail</a></li> -->
				</ul>
			</li>
			<li class="has-sub"  ng-class={'active':li_active=="li_flight"}>
				<a ng-click="li_flight=!li_flight; li_active='li_flight'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<!-- <span class="badge pull-right">10</span> -->
					<!-- <i class="ion-jet bg-blue"></i>  -->

					<span>Flight</span>
				</a>
				<ul class="sub-menu" ng-if="li_flight">
				    <li><a ui-sref="main.flight.add">Add</a></li>
				    <li><a ui-sref="main.flight.list">List</a></li>
				    <!-- <li><a ui-sref="main.aircraft.add">Login</a></li> -->
				    <!-- <li><a ui-sref="main.aircraft.Add">Add</a></li> -->
				    <!-- <li><a href="email_compose.html">Compose</a></li>
				    <li><a href="email_detail.html">Detail</a></li> -->
				</ul>
			</li>
			<li class="has-sub"  ng-class={'active':li_active=="li_opretor"}>
				<a ng-click="li_opretor=!li_opretor; li_active='li_opretor'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<!-- <span class="badge pull-right">10</span> -->
					<!-- <i class="ion-jet bg-blue"></i>  -->
					<span>Opretor</span>
				</a>
				<ul class="sub-menu" ng-if="li_opretor">
				    <li><a ui-sref="main.opretor.add">Add</a></li>
				    <li><a ui-sref="main.opretor.list">List</a></li>
				    <!-- <li><a ui-sref="main.aircraft.add">Login</a></li> -->
				    <!-- <li><a ui-sref="main.aircraft.Add">Add</a></li> -->
				    <!-- <li><a href="email_compose.html">Compose</a></li>
				    <li><a href="email_detail.html">Detail</a></li> -->
				</ul>
			</li>
			<li class="has-sub" ng-class={'active':li_active=="li_user"}>
				<a ng-click="li_user=!li_user; li_active='li_user'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<span>Users</span>
				</a>
				<ul class="sub-menu" ng-if="li_user">
				    <li><a ui-sref="main.user.list">List</a></li>
				</ul>
			</li>
			<li class="has-sub" ng-class={'active':li_active=="li_booking"}>
				<a ng-click="li_booking=!li_booking; li_active='li_booking'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<span>Booking</span>
				</a>
				<ul class="sub-menu" ng-if="li_booking">
				    <li><a ui-sref="main.booking.list">List</a></li>
				</ul>
			</li>
			<!-- <li>
				<a href="bootstrap_4.html">
					<div class="icon-img">
				    	<img src="assets/img/bs4-logo.png" alt="">
				    </div>
				    <span>Bootstrap 4 <span class="label label-theme m-l-5">NEW</span></span>
				</a>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="ion-ios-color-filter-outline bg-purple"></i>
				    <span>UI Elements <span class="label label-theme m-l-5">NEW</span></span>
				</a>
				<ul class="sub-menu" style="display: none;">
					<li><a href="ui_general.html">General</a></li>
					<li><a href="ui_typography.html">Typography</a></li>
					<li><a href="ui_tabs_accordions.html">Tabs &amp; Accordions</a></li>
					<li><a href="ui_unlimited_tabs.html">Unlimited Nav Tabs</a></li>
					<li><a href="ui_modal_notification.html">Modal &amp; Notification <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
					<li><a href="ui_widget_boxes.html">Widget Boxes</a></li>
					<li><a href="ui_media_object.html">Media Object</a></li>
					<li><a href="ui_buttons.html">Buttons</a></li>
					<li><a href="ui_icons.html">Icons</a></li>
					<li><a href="ui_simple_line_icons.html">Simple Line Icons</a></li>
					<li><a href="ui_ionicons.html">Ionicons</a></li>
					<li><a href="ui_tree.html">Tree View</a></li>
					<li><a href="ui_language_bar_icon.html">Language Bar &amp; Icon</a></li>
					<li><a href="ui_social_buttons.html">Social Buttons</a></li>
					<li><a href="ui_tour.html">Intro JS</a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="ion-ios-briefcase-outline bg-gradient-purple"></i>
				    <span>Form Stuff <span class="label label-theme m-l-5">NEW</span></span>
				</a>
				<ul class="sub-menu" style="">
					<li><a href="form_elements.html">Form Elements <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
					<li><a href="form_plugins.html">Form Plugins <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
					<li><a href="form_slider_switcher.html">Form Slider + Switcher</a></li>
					<li><a href="form_validation.html">Form Validation</a></li>
					<li><a href="form_wizards.html">Wizards</a></li>
					<li><a href="form_wizards_validation.html">Wizards + Validation</a></li>
					<li><a href="form_wysiwyg.html">WYSIWYG</a></li>
					<li><a href="form_editable.html">X-Editable</a></li>
					<li><a href="form_multiple_upload.html">Multiple File Upload</a></li>
					<li><a href="form_summernote.html">Summernote</a></li>
					<li><a href="form_dropzone.html">Dropzone</a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="ion-ios-grid-view-outline bg-green"></i>
				    <span>Tables</span>
				</a>
				<ul class="sub-menu" style="display: none;">
					<li><a href="table_basic.html">Basic Tables</a></li>
					<li class="has-sub">
					    <a href="javascript:;"><b class="caret pull-right"></b> Managed Tables</a>
					    <ul class="sub-menu">
					        <li><a href="table_manage.html">Default</a></li>
					        <li><a href="table_manage_autofill.html">Autofill</a></li>
					        <li><a href="table_manage_buttons.html">Buttons</a></li>
					        <li><a href="table_manage_colreorder.html">ColReorder</a></li>
					        <li><a href="table_manage_fixed_columns.html">Fixed Column</a></li>
					        <li><a href="table_manage_fixed_header.html">Fixed Header</a></li>
					        <li><a href="table_manage_keytable.html">KeyTable</a></li>
					        <li><a href="table_manage_responsive.html">Responsive</a></li>
					        <li><a href="table_manage_rowreorder.html">RowReorder</a></li>
					        <li><a href="table_manage_scroller.html">Scroller</a></li>
					        <li><a href="table_manage_select.html">Select</a></li>
					        <li><a href="table_manage_combine.html">Extension Combination</a></li>
					    </ul>
					</li>
				</ul>
			</li>
			<li class="has-sub">
			    <a href="javascript:;">
				    <b class="caret pull-right"></b>
			        <i class="ion-stats-bars bg-gradient-orange"></i>
				    <span>Chart</span>
				</a>
				<ul class="sub-menu" style="">
				    <li><a href="chart-flot.html">Flot Chart</a></li>
				    <li><a href="chart-morris.html">Morris Chart</a></li>
					<li><a href="chart-js.html">Chart JS</a></li>
				    <li><a href="chart-d3.html">d3 Chart</a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
					<i class="ion-ios-infinite-outline bg-gradient-aqua"></i>
					<span>Front End</span>
				</a>
				<ul class="sub-menu" style="">
				    <li><a href="../../frontend/one-page-parallax/template_content_html/index.html" target="_blank">One Page Parallax</a></li>
				    <li><a href="../../frontend/blog/template_content_html/index.html" target="_blank">Blog</a></li>
				    <li><a href="../../frontend/forum/template_content_html/index.html" target="_blank">Forum</a></li>
				    <li><a href="../../frontend/e-commerce/template_content_html/index.html" target="_blank">E-Commerce</a></li>
				</ul>
			</li>
			<li class="has-sub">
			    <a href="javascript:;">
				    <b class="caret pull-right"></b>
			        <i class="ion-ios-compose-outline bg-gradient-blue"></i>
			        <span>Email Template</span>
			    </a>
				<ul class="sub-menu" style="">
					<li><a href="email_system.html">System Template</a></li>
					<li><a href="email_newsletter.html">Newsletter Template</a></li>
				</ul>
			</li>
			<li><a href="calendar.html"><i class="ion-ios-calendar-outline bg-pink"></i> <span>Calendar</span></a></li>
			<li class="has-sub">
			    <a href="javascript:;">
			        <b class="caret pull-right"></b>
			        <i class="ion-ios-location bg-pink"></i>
			        <span>Map</span>
			    </a>
				<ul class="sub-menu" style="">
					<li><a href="map_vector.html">Vector Map</a></li>
					<li><a href="map_google.html">Google Map</a></li>
				</ul>
			</li>
			<li class="has-sub">
			    <a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="ion-ios-albums-outline"></i>
				    <span>Gallery</span>
				</a>
			    <ul class="sub-menu" style="">
			        <li><a href="gallery.html">Gallery v1</a></li>
			        <li><a href="gallery_v2.html">Gallery v2</a></li>
			    </ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="ion-ios-gear-outline"></i>
				    <span>Page Options</span>
				</a>
				<ul class="sub-menu" style="">
					<li><a href="page_blank.html">Blank Page</a></li>
					<li><a href="page_with_footer.html">Page with Footer</a></li>
					<li><a href="page_without_sidebar.html">Page without Sidebar</a></li>
					<li><a href="page_with_right_sidebar.html">Page with Right Sidebar</a></li>
					<li><a href="page_with_minified_sidebar.html">Page with Minified Sidebar</a></li>
					<li><a href="page_with_two_sidebar.html">Page with Two Sidebar</a></li>
					<li><a href="page_with_line_icons.html">Page with Line Icons</a></li>
					<li><a href="page_with_ionicons.html">Page with Ionicons</a></li>
					<li><a href="page_full_height.html">Full Height Content</a></li>
					<li><a href="page_with_wide_sidebar.html">Page with Wide Sidebar</a></li>
					<li><a href="page_with_light_sidebar.html">Page with Light Sidebar</a></li>
					<li><a href="page_with_mega_menu.html">Page with Mega Menu</a></li>
                    <li><a href="page_with_top_menu.html">Page with Top Menu</a></li>
                    <li><a href="page_with_boxed_layout.html">Page with Boxed Layout</a></li>
                    <li><a href="page_with_mixed_menu.html">Page with Mixed Menu</a></li>
                    <li><a href="page_boxed_layout_with_mixed_menu.html">Boxed Layout with Mixed Menu</a></li>
                    <li><a href="page_with_transparent_sidebar.html">Page with Transparent Sidebar</a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="ion-ios-heart-outline"></i>
				    <span>Extra</span>
				</a>
				<ul class="sub-menu" style="">
				    <li><a href="extra_timeline.html">Timeline</a></li>
				    <li><a href="extra_coming_soon.html">Coming Soon Page</a></li>
					<li><a href="extra_search_results.html">Search Results</a></li>
					<li><a href="extra_invoice.html">Invoice</a></li>
					<li><a href="extra_404_error.html">404 Error Page</a></li>
					<li><a href="extra_profile.html">Profile Page</a></li>
				</ul>
			</li>
			<li class="has-sub">
			    <a href="javascript:;">
			        <b class="caret pull-right"></b>
			        <i class="ion-ios-locked-outline"></i>
			        <span>Login &amp; Register</span>
			    </a>
			    <ul class="sub-menu" style="">
					<li><a href="login.html">Login</a></li>
			        <li><a href="login_v2.html">Login v2</a></li>
			        <li><a href="login_v3.html">Login v3</a></li>
			        <li><a href="register_v3.html">Register v3</a></li>
			    </ul>
			</li>
			<li class="has-sub">
			    <a href="javascript:;">
			        <b class="caret pull-right"></b>
			        <i class="ion-ios-flower-outline"></i>
			        <span>Version <span class="label label-theme m-l-5">NEW</span></span>
			    </a>
			    <ul class="sub-menu" style="">
					<li><a href="../template_content_html/index.html">HTML</a></li>
			        <li><a href="../template_content_ajax/index.html">AJAX</a></li>
			        <li><a href="../template_content_angularjs/index.html">ANGULAR JS</a></li>
			        <li><a href="../template_content_angularjs4/index.html">ANGULAR JS 4 <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
			        <li><a href="../template_content_material/index.html">MATERIAL DESIGN</a></li>
			        <li><a href="javascript:;">APPLE DESIGN <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
			    </ul>
			</li>
			<li class="has-sub">
			    <a href="javascript:;">
			        <b class="caret pull-right"></b>
			        <i class="ion-ios-medkit-outline"></i>
			        <span>Helper</span>
			    </a>
			    <ul class="sub-menu" style="">
					<li><a href="helper_css.html">Predefined CSS Classes</a></li>
			    </ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="ion-ios-list"></i>
				    <span>Menu Level</span>
				</a>
				<ul class="sub-menu" style="">
					<li class="has-sub">
						<a href="javascript:;">
				            <b class="caret pull-right"></b>
				            Menu 1.1
				        </a>
						<ul class="sub-menu">
							<li class="has-sub">
								<a href="javascript:;">
								    <b class="caret pull-right"></b>
								    Menu 2.1
								</a>
								<ul class="sub-menu">
									<li><a href="javascript:;">Menu 3.1</a></li>
									<li><a href="javascript:;">Menu 3.2</a></li>
								</ul>
							</li>
							<li><a href="javascript:;">Menu 2.2</a></li>
							<li><a href="javascript:;">Menu 2.3</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">Menu 1.2</a></li>
					<li><a href="javascript:;">Menu 1.3</a></li>
				</ul>
			</li> -->
	        <!-- begin sidebar minify button -->
			<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-left"></i> <span>Collapse</span></a></li>
	        <!-- end sidebar minify button -->
		</ul>
		<!-- end sidebar nav -->
	</div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 96.9551px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
	<!-- end sidebar scrollbar -->
</div>

<!-- user navigation -->
<div id="sidebar" class="sidebar" ng-show="userType=='oprator'">
			<!-- begin sidebar scrollbar -->
	<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div data-scrollbar="true" data-height="100%" data-init="true" style="overflow: hidden; width: auto; height: 100%;">
		<!-- begin sidebar user -->
		<ul class="nav">
			<li class="nav-profile">
				<div class="image">
					<a href="javascript:;"><img src="assets/img/user-13.jpg" alt=""></a>
				</div>
				<div class="info">
					{{username}}
					<!-- <small>Front end developer</small> -->
				</div>
			</li>
		</ul>
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="nav-header">Navigation</li>
			<li class="has-sub" ng-class={'active':li_active=="Dashboard"}>
				<a ng-click="li_dash=!li_dash; li_active='Dashboard'">
				    <!-- <b class="caret pull-right"></b> -->
				    <i class="ion-ios-pulse-strong"></i>
				    <span>Dashboard</span>
			    </a>
			</li>
			<li class="has-sub"
				ng-class="{'active':li_active=='Aircrafts'}">
				<a ng-click="li_air=!li_air; li_active='Aircrafts'">
				<b class="caret pull-right"></b>
					<i class="ion-jet"></i>

					<span>Aircrafts</span>
				</a>
				<ul class="sub-menu" ng-if="li_air">
				    <li><a ui-sref="main.aircraft.list">All</a></li>
				</ul>
			</li>
			<li class="has-sub"  ng-class={'active':li_active=="Master"}>
				<a ng-click="li_master=!li_master; li_active='Master'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<span>Master</span>
				</a>
				<ul class="sub-menu" ng-if="li_master">
				    <li><a ui-sref="main.master.airport">Airport</a></li>
				    <li><a ui-sref="main.master.distance">Airport Distance</a></li>
				</ul>
			</li>
	        <!-- begin sidebar minify button -->
			<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-left"></i> <span>Collapse</span></a></li>
	        <!-- end sidebar minify button -->
		</ul>
		<!-- end sidebar nav -->
	</div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 96.9551px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
	<!-- end sidebar scrollbar -->
</div>




<div id="content" class="content">
	<!-- begin breadcrumb -->
	<!-- <ol class="breadcrumb pull-right">
		<li><a href="javascript:;">Home</a></li>
		<li class="active">Dashboard</li>
	</ol> -->
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Dashboard <small>header small text goes here...</small></h1>
	<!-- end page-header -->

	<!-- begin section -->
	<ui-view class="container-fluid" style="display: block;"></ui-view>
	<!-- end section -->
	<script type="text/javascript">
		$(document).ready(function(){
			// alert("test")
		})
	</script>
</div>
