<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->
            <a ng-hide="!access_level.Aircraft.editAircraft" href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">Airports</h4>
    </div>
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->
    <div class="row" style="padding: 0 15px; ">
        <div class="col-md-12"><h2>Filter</h2></div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="airportSearch.airport" type="text" class="form-control" placeholder="Search by Airport Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="airportSearch.cityName" type="text" class="form-control" placeholder="Search by City Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="airportSearch.stateName" type="text" class="form-control" placeholder="Search by State Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="airportSearch.icao" type="text" class="form-control" placeholder="Search by ICAO">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="airportSearch.iata" type="text" class="form-control" placeholder="Search by IATA">
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Airport</th>
                    <th>City</th>
                    <th>ICAO</th>
                    <th>IATA</th>
                    <th>Edit</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>

                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" 
                    ng-repeat="x in Airports | filter:airportSearch">
                    
                    <td>{{x.airport}}</td>
                    <td>{{x.cityName}}</td>
                    <td>{{x.icao}}</td>
                    <td>{{x.iata}}</td>
                    <td><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
<!-- end panel-->
<script type="text/ng-template" id="airport-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
    
    <div class="panel-heading">
        <h4 class="panel-title">{{Title}} Airport</h4>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>

            <div class="form-group"
            	ng-class="{'has-success':addEditForm.airport.$valid && !addEditForm.airport.$pristine,
            			'has-error':addEditForm.airport.$invalid && !addEditForm.airport.$pristine}">
                <label class="col-md-3 control-label">Airport</label>
                <div class="col-md-9">
                    <input type="text" name="airport" class="form-control" placeholder="Enter airport name" 
                		ng-model="new.airport" 
                		ng-disabled="Title==''" 
                		required>
                </div>
            </div>

            <div class="form-group"
            	ng-class="{'has-success':addEditForm.icao.$valid && !addEditForm.icao.$pristine,
            			'has-error':addEditForm.icao.$invalid && !addEditForm.icao.$pristine}">
                <label class="col-md-3 control-label">ICAO Code</label>
                <div class="col-md-9">
                    <input type="text" name="icao" class="form-control" placeholder="Enter icao code" 
                		ng-model="new.icao" 
                		ng-disabled="Title==''" 
                		required>
                </div>
            </div>

            <div class="form-group"
            	ng-class="{'has-success':addEditForm.iata.$valid && !addEditForm.iata.$pristine,
            			'has-error':addEditForm.iata.$invalid && !addEditForm.iata.$pristine}">
                <label class="col-md-3 control-label">IATA Code</label>
                <div class="col-md-9">
                    <input type="text" name="iata" class="form-control" placeholder="Enter iata code" 
                		ng-model="new.iata" 
                		ng-disabled="Title==''" 
                		required>
                </div>
            </div>

            <div class="form-group"
            	ng-class="{'has-success':addEditForm.country.$valid && !addEditForm.country.$pristine,
            			'has-error':addEditForm.country.$invalid && !addEditForm.country.$pristine}">

                <label class="col-md-3 control-label">Country</label>
                <div class="col-md-9">
                    <select type="text" name="country" class="form-control" 
                    	ng-model="new.country"
                    	ng-disabled="Title==''" 
                    	ng-options="x._id as x.countryName for x in Countries"
                    	required></select>
                </div>
            </div>
            
            <div class="form-group"
            	ng-class="{'has-success':addEditForm.state.$valid && !addEditForm.state.$pristine,
            			'has-error':addEditForm.state.$invalid && !addEditForm.state.$pristine}">

                <label class="col-md-3 control-label">State</label>
                <div class="col-md-9">
                    <select type="text" name="state" class="form-control" 
                    	ng-model="new.state"
                    	ng-disabled="Title=='' || !new.country" 
                    	ng-options="x.states._id as x.states.stateName for x in States | filter:new.country"
                    	required></select>
                </div>
            </div>

            <div class="form-group"
            	ng-class="{'has-success':addEditForm.city.$valid && !addEditForm.city.$pristine,
            			'has-error':addEditForm.city.$invalid && !addEditForm.city.$pristine}">

                <label class="col-md-3 control-label">City</label>
                <div class="col-md-9">
                    <select type="text" name="city" class="form-control" 
                    	ng-model="new.city"
                    	ng-disabled="Title=='' || !new.state" 
                    	ng-options="x.states.cities._id as x.states.cities.cityName for x in Cities | filter:new.state"
                    	required></select>
                </div>
            </div>

            
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</script>