<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">Airport Distance</h4>
    </div>

    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>From Airport [ICAO / IATA]</th>
                    <th>To Airport [ICAO / IATA]</th>
                    <th>Distance</th>
                    <th>City</th>
                    <th>States</th>
                    <th>Edit</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>

                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" 
                    ng-repeat="x in airportsDistance">
                    
                    <td>{{x.fromAirportName+' ['+x.fromAirportIcao+' / '+x.fromAirportIata+']'}}</td>
                    <td>{{x.toAirportName+' ['+x.toAirportIcao+' / '+x.toAirportIata+']'}}</td>
                    <td>{{x.distance}}</td>
                    <td>{{x.cityName}}</td>
                    <td>{{x.stateName}}</td>
                    
                    <td><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                
            </tbody>
        </table>
        <div ng-show="showPagination">
            <ul uib-pagination total-items="totalData" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<!-- end panel-->
<script type="text/ng-template" id="distance-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
    
    <div class="panel-heading">
        <h4 class="panel-title">{{Title}} Distance</h4>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>

            <div class="form-group"
                ng-class="{'has-success':addEditForm.fromAirport.$valid && !addEditForm.fromAirport.$pristine,
                        'has-error':addEditForm.fromAirport.$invalid && !addEditForm.fromAirport.$pristine}">

                <label class="col-md-3 control-label">State</label>
                <div class="col-md-9">
                    <select type="text" name="fromAirport" class="form-control" 
                        ng-model="new.fromAirport"
                        ng-disabled="Title=='' " 
                        ng-options="x._id as x.airport+' ['+x.icao+']' for x in Airports"
                        required></select>
                </div>
            </div>

            <div class="form-group"
            	ng-class="{'has-success':addEditForm.toAirport.$valid && !addEditForm.toAirport.$pristine,
            			'has-error':addEditForm.toAirport.$invalid && !addEditForm.toAirport.$pristine}">

                <label class="col-md-3 control-label">State</label>
                <div class="col-md-9">
                    <select type="text" name="toAirport" class="form-control" 
                    	ng-model="new.toAirport"
                    	ng-disabled="Title=='' " 
                    	ng-options="x._id as x.airport+' ['+x.icao+']' for x in Airports"
                    	required></select>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':addEditForm.distance.$valid && !addEditForm.distance.$pristine,
                        'has-error':addEditForm.distance.$invalid && !addEditForm.distance.$pristine}">
                <label class="col-md-3 control-label">Distance</label>
                <div class="col-md-9">
                    <input type="number" name="distance" class="form-control" placeholder="Enter distance" 
                        ng-model="new.distance" 
                        ng-disabled="Title==''" 
                        required>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</script>